<ng-container *ngIf="(gracePeriodUntil$ | async) as gracePeriodUntil">
    <div #bannerElement *ngIf="!isDismissed" class="grace-period-banner mat-typography">
        <mat-icon class="banner-warning-icon">warning</mat-icon>
        <span class="banner-text">
            Your Pro plan has ended. You have until <strong>{{ gracePeriodUntil | date }}</strong> before your device
            sync
            is disconnected and your activities are reduced to 10. Newest activities will be deleted first.
            <a routerLink="/pricing" color="accent">Upgrade now</a> to keep your data.
        </span>
        <button mat-icon-button class="banner-close-btn" aria-label="Dismiss notification" (click)="dismiss()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</ng-container>