<mat-card class="mat-elevation-z0 inner">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>linear_scale</mat-icon>
    </div>
    <mat-card-title>Laps</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <ng-container *ngFor="let activity of selectedActivities">
      <mat-card class="mat-elevation-z0"  *ngIf="getData(activity).data.length">
        <mat-card-header style="font-size: 1em;" *ngIf="selectedActivities.length > 1">
          <mat-card-title>
            <span [ngStyle]="event.isMerge && {color: eventColorService.getActivityColor(event.getActivities(), activity)}">
              <b>{{activity.type}}</b>
            </span>
          </mat-card-title>
          <mat-card-subtitle>
            <span><b>{{activity.getDuration().getDisplayValue()}}</b>, </span>
            <span><b>{{activity.getDistance().getDisplayValue()}}</b>{{activity.getDistance().getDisplayUnit()}}</span>
            <span *ngIf="event.isMerge" [ngStyle]="event.isMerge && {color: eventColorService.getActivityColor(event.getActivities(), activity)}" style="font-size: 0.8em;"> {{activity.creator.name}}</span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-divider *ngIf="selectedActivities.length > 1"></mat-divider>
        <mat-table *ngIf="getData(activity).data.length" [dataSource]="getData(activity)">
          <ng-container *ngFor="let column of getColumnsToDisplayDependingOnScreenSize()" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef>
              <app-data-type-icon [dataType]="column"></app-data-type-icon>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row[column] }}</mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="getColumnsToDisplayDependingOnScreenSize()"></mat-header-row>
          <mat-row *matRowDef="let row; columns: getColumnsToDisplayDependingOnScreenSize();"></mat-row>
        </mat-table>
      </mat-card>
    </ng-container>
  </mat-card-content>
</mat-card>
