<mat-card class="mat-elevation-z0">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>linear_scale</mat-icon>
    </div>
    <mat-card-title>Laps</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngFor="let activity of selectedActivities; index as i; ">
      <section *ngIf="getData(activity).data.length">
        <app-activity-toggle
          [event]="event"
          [showToggle]="false"
          [showDate]="false"
          [showStats]="false"
          [activity]="activity">
        </app-activity-toggle>
        <mat-divider *ngIf="selectedActivities.length > 1" [inset]="true"></mat-divider>
        <mat-table *ngIf="getData(activity).data.length" [dataSource]="getData(activity)">
          <ng-container *ngFor="let column of getColumnsToDisplayDependingOnScreenSize()" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef>
              <app-data-type-icon [dataType]="column"></app-data-type-icon>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row[column] }}</mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="getColumnsToDisplayDependingOnScreenSize()"></mat-header-row>
          <mat-row *matRowDef="let row; columns: getColumnsToDisplayDependingOnScreenSize();"></mat-row>
        </mat-table>
      </section>
    </ng-container>
  </mat-card-content>
</mat-card>
