<mat-card class="outer">
  <app-shade [isActive]="isLoading"></app-shade>
  <mat-grid-list [cols]="numberOfCols" [rowHeight]="rowHeight" [gutterSize]="'1em'">
    @for (athleteAndEvents of athletesAndEvents; track athleteAndEvents) {
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="avatar"
              [style.backgroundImage]="'url('+ (athleteAndEvents.athlete.photoURL ? athleteAndEvents.athlete.photoURL :  'https://ui-avatars.com/api/?name=' + (athleteAndEvents.athlete.displayName) ) +')'">
            </div>
            <mat-card-title>
              {{ athleteAndEvents.athlete.displayName }}
            </mat-card-title>
            @if (athleteAndEvents.athlete.description) {
              <mat-card-subtitle>{{ athleteAndEvents.athlete.description }}</mat-card-subtitle>
            }
            @if (!athleteAndEvents.athlete.description) {
              <mat-card-subtitle>
                No description available
              </mat-card-subtitle>
            }
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            {{ athleteAndEvents.events.length }} events this week
          </mat-card-content>
          <mat-card-actions>
            @if (athleteAndEvents.events[0]) {
              <button mat-button [routerLink]="['/user', athleteAndEvents.athlete.uid, 'event', athleteAndEvents.events[0].getID()]">Go to latest event</button>
            }
            <button mat-button [routerLink]="['/user', athleteAndEvents.athlete.uid, 'dashboard']">View user's dashboard</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    }
  </mat-grid-list>
</mat-card>
