form {
  /*width: 100%;*/
}

mat-form-field {
  margin: 2%;
}

mat-form-field {
  width: 100%;
}

.radio-container {
  margin-bottom: 1em;
}

.mat-radio-button {
  margin-top: 1em;
  margin-right: 1em;
}

button {
  width: 100%;
  margin-top: 1em;
}

.generic-form-error {
  margin-top: 1.5em;
}

/* Removed ::ng-deep .mat-checkbox-layout override */

mat-error {
  margin-top: 0.5em;
}

section {
  text-align: center;
}

mat-icon {
  vertical-align: middle;
  font-size: 1.6em;
}

.smaller {
  font-size: 0.90em;
  line-height: 0.90em;
}


.no-margin {
  margin: 0;
}

form {
  height: 100%;
}

p {
  font-size: 0.9em;
}

mat-hint {
  font-size: 0.9em;
}

/* Removed ::ng-deep .mat-horizontal-content-container override */