<mat-toolbar>
  <h4>Event List</h4>
</mat-toolbar>
<div >
  <button mat-button
     *ngFor="let event of events; let i = index;"
     [class.background-color-gray]="selectedEvent && event.getID() === selectedEvent.getID()"
     [routerLink]="['/dashboard']"
     [class.active]="selectedEvent && event.getID() === selectedEvent.getID()"
     [queryParams]="{ eventID: event.getID(), tabIndex: parametersTabIndex }">
    <mat-icon>more_horiz</mat-icon>
    {{ event.getName().slice(0,30) }}
  </button>
</div>

