mat-icon {
  vertical-align: middle;
  margin-right: 24px;
  margin-left: 8px;
}

.active {
  font-weight: 400;
  background: rgba(0, 0, 0, 0.08);
  /* Standard light theme selection */
}

:host-context(.dark-theme) .active {
  background: rgba(255, 255, 255, 0.12);
  /* Standard dark theme selection */
}

mat-toolbar-row {
  /*margin-bottom: 1em;*/
  outline: none;
  /*font-size: 0.95em;*/
  font-weight: 400;
  height: 60px;
}

.mat-toolbar {
  background: inherit;
}

mat-slide-toggle {
  vertical-align: middle;
  margin-left: 8px;
  margin-right: 24px;
}

.fill-space {
  flex: 1 1 auto;
}

mat-card-title {
  margin: 0;
}

mat-icon.app-icon {
  font-size: 32px;
  height: 40px;
  width: 40px;
  margin-right: 12px;
  margin-left: 0;
}

mat-slide-toggle {
  margin-left: 4px;
}