<mat-toolbar>
  <mat-toolbar-row
    routerLink="/home"
    (click)="sideNav.close();">
    Quantified-self.io
  </mat-toolbar-row>
</mat-toolbar>
<mat-nav-list>
  <mat-list-item
    *ngIf="!authService.authenticated()"
    routerLinkActive="active"
    routerLink="/home"
    (click)="sideNav.close();">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </mat-list-item>

  <mat-list-item
    *ngIf="authService.authenticated()"
    routerLinkActive="active"
    routerLink="/dashboard"
    (click)="sideNav.close();">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </mat-list-item>

  <mat-list-item
    *ngIf="authService.authenticated()"
    routerLinkActive="active"
    [routerLink]="['/user/' + (authService.user | async)?.uid]"
    (click)="sideNav.close();">
    <mat-icon>account_circle</mat-icon>
    <span>My Profile</span>
  </mat-list-item>
  <!---->
  <!--<mat-list-item-->
  <!--*ngIf="authService.authenticated() && (authService.user | async)?.uid"-->
  <!--routerLinkActive="active"-->
  <!--[routerLink]="['/user/', (authService.user | async)?.uid]">-->
  <!--<mat-icon>account_circle</mat-icon>-->
  <!--<span>My Profile</span>-->
  <!--</mat-list-item>-->

  <mat-list-item
    *ngIf="!authService.authenticated()"
    routerLinkActive="active"
    routerLink="/login" (click)="sideNav.close();">
    <mat-icon>assignment_ind</mat-icon>
    <span>Login</span>
    <span class="example-spacer"></span>
  </mat-list-item>

  <mat-list-item onclick="window.open('mailto:jimmykane9@gmail.com')">
    <mat-icon>email</mat-icon>
    <span>Contact</span>
    <span class="example-spacer"></span>
  </mat-list-item>

  <mat-list-item onclick="window.open('//paypal.me/DKanellopoulos')">
    <mat-icon>monetization_on</mat-icon>
    <span>Donate via PayPal</span>
    <span class="example-spacer"></span>
  </mat-list-item>

  <mat-list-item (click)="logout()"
                 *ngIf="authService.authenticated()">
    <mat-icon>power_settings_new</mat-icon>
    <span>Logout</span>
    <span class="example-spacer"></span>
  </mat-list-item>

</mat-nav-list>

