mat-icon{
  vertical-align: middle;
  margin-right: 0.5em;
}
.active{
  font-weight: bold;
}
mat-toolbar-row{
  /*margin-bottom: 1em;*/
  outline: none;
  font-size: 0.95em;
  font-weight: 400;
}
.mat-toolbar{
  background: inherit;
}

mat-toolbar-row{
  outline: none;
}

