<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
    <p *ngIf="htmlMessage; else plainMessage" [innerHTML]="htmlMessage"></p>
    <ng-template #plainMessage>
        <p>{{ message }}</p>
    </ng-template>
    <div *ngIf="pastProviderCleanupOption" class="past-provider-cleanup-option">
        <mat-checkbox [checked]="removePastProviderCopies" (change)="onPastProviderCleanupChange($event.checked)">
            Also try to remove past provider copies
        </mat-checkbox>
        <p>Only uncompleted provider workouts are eligible. COROS cannot remove past workouts. Provider apps and devices may retain copies; completed activities are never deleted.</p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button (click)="onCancel()" *ngIf="showCancel">{{ cancelButtonText }}</button>
    <button mat-flat-button [color]="confirmColor" [class.qs-mat-warn]="confirmColor === 'warn'" (click)="onConfirm()">{{ confirmButtonText }}</button>
</mat-dialog-actions>
