@if (activitiesWithJumps.length > 0) {
<app-event-section-header icon="monitoring" title="Jumps"></app-event-section-header>
<mat-tab-group [dynamicHeight]="true" [preserveContent]="true">
  @for (view of jumpActivityViews; track view.key) {
  <mat-tab [label]="view.label">
    @if (view.dataSource) {
    <section class="table-container">
      <table mat-table [dataSource]="view.dataSource">
        @for (column of view.columns; track column) {
        <ng-container [matColumnDef]="column" [sticky]="isSticky(column)">
          <mat-header-cell *matHeaderCellDef>
            <app-data-type-icon [dataType]="column"></app-data-type-icon>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row[column] }}</mat-cell>
        </ng-container>
        }

        <mat-header-row *matHeaderRowDef="view.columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: view.columns;"></mat-row>
      </table>
    </section>
    }
  </mat-tab>
  }
</mat-tab-group>
}
