<mat-card *ngIf="event.getActivities().length > 1">
  <mat-card-content>
    <section>
      <mat-checkbox *ngFor="let activityCheckbox of activityCheckboxes let i = index;"
                    class="margin"
                    [(ngModel)]="activityCheckbox.checked"
                    [disabled]="activityCheckbox.disabled"
                    (change)="onCheckboxChange()">
        {{ activityCheckbox.activity.getType() }} {{ i + 1 }}
      </mat-checkbox>
    </section>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
    <div id="chartdiv" [style.min-width.%]="100" [style.min-height.vh]="100"></div>
  </mat-card-content>
</mat-card>
