<div class="container" *ngIf="event.getSummary().getGeoLocationInfo()">
  <mat-icon>place</mat-icon>
  <h3>
    <span *ngIf="event.getSummary().getGeoLocationInfo().city">{{ event.getSummary().getGeoLocationInfo().city }}, </span>
    <span *ngIf="event.getSummary().getGeoLocationInfo().province">{{ event.getSummary().getGeoLocationInfo().province }}, </span>
    <span *ngIf="event.getSummary().getGeoLocationInfo().country">{{ event.getSummary().getGeoLocationInfo().country }}</span>
  </h3>
</div>
