<div style="padding: 2vmin;">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h1>Welcome to Quantified Self v{{ appVersion }}</h1></mat-card-title>
      <mat-card-subtitle>an OpenSource project under development</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <b><a target="_blank" href="https://github.com/jimmykane/quantified-self">GitHub</a></b>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title><h1>Donations to boost this up </h1></mat-card-title>
      <mat-card-subtitle>... I don't have a job at the moment</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <span class="mat-body-2">Bitcoin </span>17rixc85L5tXsheNyAwrQpFWZgQJP84dLQ <br/>
      <span class="mat-body-2">Etherium </span>0xAfa27f022058aB235F8CB0BEE7042427BeCa8394 <br/>
      <span class="mat-body-2">Litecoin </span>LNZGY8R2oDHCuMJvdxif5J76j52JKEadqb <br/>
    </mat-card-content>
  </mat-card>

   <mat-card>
    <mat-card-header>
      <mat-card-title><h1>Feedback and comments</h1></mat-card-title>
      <mat-card-subtitle>
        ...please be constructive
      </mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>
      <disqus [identifier]="'/about'"></disqus>
    </mat-card-content>
  </mat-card>

</div>
