## Compiled JavaScript files
coverage/
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/

node_modules/
.runtimeconfig.json
service-account.json

# Environment files with secrets
.env
.env.local

# Exported files
users_export.csv
