<mat-dialog-content>
  @if (activityFormGroup) {
  <form [formGroup]="activityFormGroup" (submit)="onSubmit($event)" (keyup.enter)="onSubmit($event)" class="qs-form">
    <app-shade [isActive]="isLoading"></app-shade>
    <span class="mat-headline">Cropping activity</span>
    <mat-divider></mat-divider>
    <section class="qs-form-section">
      <mat-form-field>
        <input matInput placeholder="Starting distance" type="number" formControlName="startDistance">
        <span matSuffix="">m &nbsp;</span>
        @if (hasError('startDistance')) {
        <mat-error>
          invalid distance
        </mat-error>
        }
      </mat-form-field>
      <!-- End Distance -->
      <mat-form-field>
        <input matInput placeholder="End distance" type="number" formControlName="endDistance">
        <span matSuffix="">m &nbsp;</span>
        @if (hasError('endDistance')) {
        <mat-error>
          invalid distance
        </mat-error>
        }
      </mat-form-field>
      <mat-hint><b>Note</b>: Changing the start or end distance will recreate all statistics for the selected activity
      </mat-hint>
    </section>
    @if (hasError()) {
    <mat-error class="generic-form-error">Something does not seem logical above 🤔</mat-error>
    }
    <div class="qs-form-actions">
      <button mat-stroked-button (click)="close($event)">Cancel</button>
      @if (!hasError()) {
      <button mat-flat-button color="primary" (click)="onSubmit($event)">Save</button>
      }
    </div>
  </form>
  }


</mat-dialog-content>