<mat-dialog-content>
  <form *ngIf="activityFormGroup" [formGroup]="activityFormGroup" (submit)="onSubmit($event)"
        (keyup.enter)="onSubmit($event)">

    <app-shade [isActive]="isLoading"></app-shade>

    <span class="mat-headline">Cropping activity</span>

    <mat-divider></mat-divider>

    <section>
      <mat-form-field>
        <input matInput placeholder="Starting distance" type="number" formControlName="startDistance">
        <span matSuffix="">m &nbsp;</span>
        <mat-error *ngIf="hasError('startDistance')">
          invalid distance
        </mat-error>
      </mat-form-field>

      <!-- End Distance -->
      <mat-form-field>
        <input matInput placeholder="End distance" type="number" formControlName="endDistance">
        <span matSuffix="">m &nbsp;</span>
        <mat-error *ngIf="hasError('endDistance')">
          invalid distance
        </mat-error>
      </mat-form-field>
      <mat-hint><b>Note</b>: Changing the start or end distance will recreate all statistics for the selected activity
      </mat-hint>
    </section>

    <mat-error class="generic-form-error" *ngIf="hasError()">Something does not seem logical above 🤔</mat-error>

    <button mat-stroked-button (click)="close($event)">Cancel</button>
    <button mat-flat-button color="primary" (click)="onSubmit($event)" *ngIf="!hasError()">Save</button>
  </form>


</mat-dialog-content>
