<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<mat-table [dataSource]="data">
  <ng-container *ngFor="let column of columns" [matColumnDef]="column">
    <mat-header-cell *matHeaderCellDef>{{ column }}</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <span *ngIf="column == 'Difference' && row[column]">
        {{ row[column].display }}
        <span *ngIf="row[column].percent <= 2" [ngStyle]="{'color': appColors.Green}">
        {{ row[column].percent.toFixed(1) }}%
        </span>
       <span *ngIf="row[column].percent > 2 && row[column].percent <= 5" [ngStyle]="{'color': appColors.Orange}">
        {{ row[column].percent.toFixed(1) }}%
        </span>
        <span *ngIf="row[column].percent > 5" [ngStyle]="{'color': appColors.Red}">
        {{ row[column].percent.toFixed(1) }}%
        </span>
      </span>
      <span *ngIf="column !== 'Difference'">{{ row[column] }}</span>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns;"></mat-row>
</mat-table>
