<mat-card>
  <mat-accordion [displayMode]="'flat'" [multi]="true">
    <mat-expansion-panel *ngFor="let activity of event.getActivities(); let i = index;" [expanded]="'true'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ activity.getStartDate() | date:'medium' }}
        </mat-panel-title>
        <mat-panel-description>
          {{ activity.getType() }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-event-card-activity-stats [activity]="activity" [event]="event"></app-event-card-activity-stats>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
