<mat-accordion [displayMode]="'default'">
  <mat-expansion-panel *ngFor="let activity of event.getActivities(); let i = index;" [expanded]="i === 0">
    <mat-expansion-panel-header [collapsedHeight]="25/event.getActivities().length + 'vh' ">
      <mat-panel-title>
        {{ activity.getStartDate().toLocaleDateString() }}
      </mat-panel-title>
      <mat-panel-description>
        {{ activity.getType() }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-event-card-activity-stats [activity]="activity" [event]="event"></app-event-card-activity-stats>
  </mat-expansion-panel>
</mat-accordion>
