# See http://help.github.com/ignore-files/ for more about ignoring files.

yarn-error.log

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# credentials
client-secret.json
credentials.tar.gz


#firebase
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
quantified-self-io-firebase-adminsdk.json

functions/src/service-account.json
functions/lib/*


# Fonts
src/assets/fonts/

#Lisences
licenses.json

# SSL certificates (generate locally with mkcert)
/certs
functions/.env

PR_DESCRIPTION.md

COROS API Reference V2.0.6 (Updated April 2025).pdf
