mat-card {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.mat-card-avatar {
  text-align: center;
  height: auto;
  width: auto;
  padding-top: 12px;
}

mat-card-subtitle{
  margin-bottom: 0;
}


mat-tab-group{
  width: 100%;
  height: 100%;
}
