/* Global .qs-form styles handle width and spacing now. */

/* Kept specific button margin if needed, but .qs-form-actions handles valid buttons usually. */
/* If there are specific buttons outside actions, they might strictly need this, but best to remove generic overrides. */


/* Removed ::ng-deep .mat-checkbox-layout override */

.checkbox {
  text-align: right;
}

mat-card {
  /*margin-bottom: 1em;*/
}

mat-slide-toggle {
  display: block;
}

.smaller {
  font-size: 75%;
}

/* Removed ::ng-deep .mat-tab-label override */