form {
  width: 100%;
  /*padding: 1%;*/
  position: relative;
}

mat-form-field {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.radio-container {
  margin-bottom: 1em;
}

.mat-radio-button {
  margin-top: 1em;
  margin-right: 1em;
}

button {
  width: 100%;
  margin-top: 1em;
}

/* Removed ::ng-deep .mat-checkbox-layout override */

.checkbox {
  text-align: right;
}

mat-card {
  padding-left: 0;
  padding-right: 0;
  /*margin-bottom: 1em;*/
}

mat-slide-toggle {
  display: block;
}

.smaller {
  font-size: 75%;
}

/* Removed ::ng-deep .mat-tab-label override */