<button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.preventDefault(); $event.stopPropagation();">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="editActivity()">
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  @if (hasDistance()) {
  <button mat-menu-item (click)="cropActivity() " disabled="true">
    <mat-icon>crop</mat-icon>
    <span>Crop</span>
  </button>
  }
  <button mat-menu-item (click)="reGenerateStatistics()">
    <mat-icon>autorenew</mat-icon>
    <span>Refresh activity statistics <mat-icon class="toolTip"
        matTooltip="This will re-calculate statistics like distance, ascent, descent etc...">info</mat-icon>
    </span>
  </button>
  @if (event.getActivities().length > 1) {
  <button mat-menu-item (click)="deleteActivity()">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
  }
</mat-menu>