.buttons-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

mat-icon.toolTip{
  font-size: 14px;
  margin-left: 0.5em;
}

.mat-icon-button{
  height: 24px;
  line-height: 24px;
}
