<div class="event-dashboard-container">



  @if (event(); as activeEvent) {
  <!-- Standard Event Dashboard -->
  <app-event-summary [event]="activeEvent" [user]='currentUser()' [isOwner]="isOwner()"
    [selectedActivities]="selectedActivitiesInstant()" [unitSettings]="userUnitSettings()"
    [statsToShow]="basicStatsTypes">

    <!-- Projecting Performance Charts after Stats Grid -->
    @if (hasPerformanceChartsFlag()) {
    <div after-stats class="performance-charts-summary-wrapper">
      <mat-divider></mat-divider>
      <app-event-performance-charts [activities]="selectedActivitiesInstant()" [useAnimations]="useChartAnimations()"
        [chartTheme]="chartTheme()" [isMerge]="activeEvent.isMerge" [hasIntensity]="hasIntensityZonesFlag()"
        [hasPowerCurve]="hasPowerCurveFlag()" [hasDurability]="hasDurabilityFlag()"
        [hasCadencePower]="hasCadencePowerFlag()">
      </app-event-performance-charts>
    </div>
    }

    <!-- Secondary Details Section -->
    <div summary-bottom class="secondary-details-container">
      <div class="responsive-grid">
        @if (currentUser(); as activeUser) {

        <!-- Map Section -->
        @if (targetUserID() && hasPositionsFlag()) {
        @if (selectedActivitiesDebounced().length > 0) {
        <app-event-card-map [selectedActivities]="selectedActivitiesDebounced()" [targetUserID]="targetUserID()"
          [user]="activeUser" [event]="activeEvent">
        </app-event-card-map>
        } @else {
        <div class="empty-selection-message">
          <mat-icon ripple>map</mat-icon>
          <span>Please select at least one activity to view the map.</span>
        </div>
        }
        }

        <!-- Chart Section -->
        @if (targetUserID()) {
        @if (selectedActivitiesDebounced().length === 0) {
        <div class="empty-selection-message">
          <mat-icon ripple>show_chart</mat-icon>
          <span>Please select at least one activity to view the chart.</span>
        </div>
        } @else if (hasChartDataFlag()) {
        <app-event-card-chart [selectedActivities]="selectedActivitiesDebounced()" [targetUserID]="targetUserID()"
          [user]="activeUser" [waterMark]="activeUser.brandText ?? null" [event]="activeEvent">
        </app-event-card-chart>
        }
        }
        }

        <!-- Laps Section -->
        @if (hasLapsFlag()) {
        <mat-divider></mat-divider>
        <app-event-card-laps [selectedActivities]="selectedActivitiesInstant()" [unitSettings]="userUnitSettings()"
          [event]="activeEvent">
        </app-event-card-laps>
        }

      </div>
    </div>
  </app-event-summary>
  }
</div>
