<div class="row">
  <div class="p-4 col-md-6 mb-4">
    <md-card>

      <md-card-header>
        <!--<div md-card-avatar class="example-header-image"></div>-->
        <md-card-title><h5>{{ event.getName() }}</h5></md-card-title>
        <md-card-subtitle>
          <h4 class="mb-1">Distance: {{ (event.getDistanceInMeters()/1000).toFixed(1) }} km</h4>
          <p class="mb-1">Duration: {{ event.getTotalDurationInSeconds() | amDuration:'seconds' }}</p>
          <p class="mb-1">{{ event.getFirstActivity().getStartDate() | date:'medium' }}</p>
        </md-card-subtitle>
      </md-card-header>


      <md-card-content>
        <app-event-map [event]="event"></app-event-map>

      </md-card-content>

      <app-event-actions [event]="event"></app-event-actions>

      <md-card-footer>
      </md-card-footer>

    </md-card>
  </div>
  <div class="p-4 col-md-6 mb-4">

    <md-card>

      <md-card-header>
        <md-card-title>Activities</md-card-title>
        <md-card-subtitle>{{ event.getActivities().length }}</md-card-subtitle>
      </md-card-header>


      <md-card-content>
        <app-event-activities-table [event]="event"></app-event-activities-table>
      </md-card-content>

      <md-card-footer>
      </md-card-footer>

    </md-card>

  </div>

</div>


<md-card class="mb-4">

  <md-card-header>
    <md-card-title>Chart</md-card-title>
    <md-card-subtitle></md-card-subtitle>
  </md-card-header>


  <md-card-content>
    <app-event-charts-am [event]="event"></app-event-charts-am>
  </md-card-content>

  <md-card-footer>
  </md-card-footer>

</md-card>

<md-card class="mb-4">

  <md-card-header>
    <md-card-title>Laps</md-card-title>
    <md-card-subtitle></md-card-subtitle>
  </md-card-header>


  <md-card-content>
    <app-event-laps-table [event]="event" *ngIf="event.getLaps().length"></app-event-laps-table>
  </md-card-content>

  <md-card-footer>
  </md-card-footer>

</md-card>


