
mat-select{
}

section{
  display: flex;
}

.first{
  /*padding-top: 1em;*/
}

button{
  flex: 1 1 auto;
  padding: 0;
  text-align: center;
}
button.big{
  width: 100%;
}
button.small{
  width: 45%;
}

.toolTip{
  margin-left: 1em;
  font-size: 1em;
  height: 1em;
}
mat-icon.delete{
  margin: 0;
}
.mat-slide-toggle{
  height: 100%;
}

.mat-menu-item .mat-icon {margin: 0}
