<md-grid-list cols="3" rowHeight="3:1" *ngIf="weather">
  <md-grid-tile colspan="3">
    <h3>{{ weather.weatherItems[0].conditions }}</h3>
  </md-grid-tile>
  <md-grid-tile>
    <fa [name]="'thermometer-empty'" [size]="2"></fa>
    Min {{ weather.getMinTemperatureInCelsius() }}
  </md-grid-tile>
  <md-grid-tile>
     <fa [name]="'thermometer-full'" [size]="2"></fa>
    Max {{ weather.getMaxTemperatureInCelsius() }}
  </md-grid-tile>
  <md-grid-tile>
     <fa [name]="'thermometer-half'" [size]="2"></fa>
    Avg. {{ weather.getAverageTemperatureInCelsius().toFixed(0) }}
  </md-grid-tile>
</md-grid-list>
