/*::ng-deep app-data-type-icon mat-icon{*/
/*  font-size: 18px !important;*/
/*  width: 18px !important;*/
/*  height: 18px !important;*/
/*  vertical-align: top !important;*/
/*}*/

/*section.item{*/
/*  white-space:nowrap;*/
/*  display: inline-block;*/
/*  !*margin-right: 1em;*!*/
/*  min-width: 25%;*/
/*  min-height: 2.5em;*/
/*  !*text-align: center;*!*/
/*}*/


mat-card.item {
  margin: 0;
  padding: 0;
  min-width: 120px;
  margin-bottom: 1em;
  height: auto;
}

::ng-deep .no-margin .mat-card-header-text{
  margin-left: 12px !important;
}


mat-card:last-child{
  margin-bottom: 0;
}

.mat-card-title {
  font-size: 1.1em;
  white-space: nowrap;
  margin: 0;
}

mat-card-subtitle {
  font-size: 0.9em;
  margin: 0;
  line-height: 1.3em;
}

.mat-card-avatar {
  height: auto;
  width: auto;
  padding-top: 3px;
  /*flex-shrink: unset;*/
}


section {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 160px);
  justify-content: space-around;
}

@media only screen and (min-width: 768px) {
  section {
    grid-gap: 1rem 6rem;
  }
}
