mat-card {
  /*margin-top: 2em;*/
}

mat-progress-bar {
  /*margin-bottom: 2em;*/
}

mat-list {
  padding: 0;
  margin: 0;
}

mat-card-title {
  text-align: center;
  /* font-size: 1.2em !important; */
}

/* Removed ::ng-deep .mat-card-header-text override */