<section class="container">
  <section class="item">
    <mat-slide-toggle [disabled]="!user" [color]="'accent'" (change)="somethingChanged($event)"
      (click)="$event.stopPropagation();" [(ngModel)]="stackYAxes">
      <span [matTooltip]="user ? 'Show charts on top of each other' : 'Sign in to use this'">
        Stack Y Axes
      </span>
    </mat-slide-toggle>
  </section>

  <section class="item">
    <mat-slide-toggle [disabled]="!user" [color]="'accent'" (change)="somethingChanged($event)"
      (click)="$event.stopPropagation();" [(ngModel)]="showLaps">
      <span [matTooltip]="user ? 'Show lap markers on chart' : 'Sign in to use this'">
        Show Laps
      </span>
    </mat-slide-toggle>
  </section>

  <section class="item">
    <mat-slide-toggle [disabled]="!user" [color]="'accent'" (change)="somethingChanged($event)"
      (click)="$event.stopPropagation();" [(ngModel)]="showAllData">
      <span [matTooltip]="user ? 'Show all available data from file' : 'Sign in to use this'">
        Show All Data
      </span>
    </mat-slide-toggle>
  </section>

  <section class="item">
    <mat-form-field>
      <mat-label>X Axis</mat-label>
      <mat-select [disabled]="!user || event.isMultiSport()" [(value)]="xAxisType"
        (selectionChange)="somethingChanged($event)">
        @for (xAxisType of xAxisTypes | keyvalue; track xAxisType) {
        <mat-option [value]="xAxisType.value">
          {{xAxisType.key}}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </section>
</section>