<section class="container">
  <!-- Toggles for boolean flags -->
  <mat-button-toggle-group multiple class="qs-segmented-button-group" appearance="standard">
    <!-- Stack Y Axes -->
    <mat-button-toggle [checked]="stackYAxes" (change)="stackYAxes = $event.source.checked; somethingChanged($event)"
      [disabled]="!user" [matTooltip]="user ? 'Show charts on top of each other' : 'Sign in to use this'">
      Stack Y Axes
    </mat-button-toggle>

    <!-- Show Laps -->
    <mat-button-toggle [checked]="showLaps" (change)="showLaps = $event.source.checked; somethingChanged($event)"
      [disabled]="!user" [matTooltip]="user ? 'Show lap markers on chart' : 'Sign in to use this'">
      Show Laps
    </mat-button-toggle>

    <!-- Show All Data -->
    <mat-button-toggle [checked]="showAllData" (change)="showAllData = $event.source.checked; somethingChanged($event)"
      [disabled]="!user" [matTooltip]="user ? 'Show all available data from file' : 'Sign in to use this'">
      Show All Data
    </mat-button-toggle>
  </mat-button-toggle-group>

  <span class="spacer"></span>

  <!-- Axis Selection Group -->
  <section class="item">
    <mat-button-toggle-group class="qs-segmented-button-group" [disabled]="!user || event.isMultiSport()"
      [value]="xAxisType" (change)="xAxisType = $event.value; somethingChanged($event)" appearance="standard">
      @for (xAxisType of xAxisTypes | keyvalue; track xAxisType) {
      <mat-button-toggle [value]="xAxisType.value">
        {{xAxisType.key}}
      </mat-button-toggle>
      }
    </mat-button-toggle-group>
  </section>
</section>