<section class="container">
  <mat-chip-listbox multiple>
    <!-- Stack Y Axes -->
    <mat-chip-option [selected]="stackYAxes" (selectionChange)="stackYAxes = $event.selected; somethingChanged($event)"
      [color]="'accent'" [disabled]="!user"
      [matTooltip]="user ? 'Show charts on top of each other' : 'Sign in to use this'">
      Stack Y Axes
    </mat-chip-option>

    <!-- Show Laps -->
    <mat-chip-option [selected]="showLaps" (selectionChange)="showLaps = $event.selected; somethingChanged($event)"
      [color]="'accent'" [disabled]="!user" [matTooltip]="user ? 'Show lap markers on chart' : 'Sign in to use this'">
      Show Laps
    </mat-chip-option>

    <!-- Show All Data -->
    <mat-chip-option [selected]="showAllData"
      (selectionChange)="showAllData = $event.selected; somethingChanged($event)" [color]="'accent'" [disabled]="!user"
      [matTooltip]="user ? 'Show all available data from file' : 'Sign in to use this'">
      Show All Data
    </mat-chip-option>
  </mat-chip-listbox>

  <span class="spacer"></span>

  <section class="item">
    <mat-button-toggle-group [disabled]="!user || event.isMultiSport()" [value]="xAxisType"
      (change)="xAxisType = $event.value; somethingChanged($event)" appearance="standard">
      @for (xAxisType of xAxisTypes | keyvalue; track xAxisType) {
      <mat-button-toggle [value]="xAxisType.value">
        {{xAxisType.key}}
      </mat-button-toggle>
      }
    </mat-button-toggle-group>
  </section>
</section>