<mat-card>
  <mat-card-content>
    <section>
      <app-activities-checkboxes [event]="event" (selectedActivities)="onSelectedActivities($event)">
      </app-activities-checkboxes>
    </section>
  </mat-card-content>
</mat-card>

<mat-card>
  <agm-map
    [fullscreenControl]="true"
    [mapTypeControl]="true"
    [scaleControl]="true">
    <agm-polyline
      *ngFor="let activity of getActivitiesWithPosition()"
      [strokeColor]="eventColorService.getActivityColor(event, activity)"
      [strokeWeight]="4">
      <agm-polyline-point
        *ngFor="let point of event.getPointsWithPosition(null, null, [activity])"
        [latitude]="point.getPosition().latitudeDegrees"
        [longitude]="point.getPosition().longitudeDegrees">
      </agm-polyline-point>
    </agm-polyline>

    <ng-container *ngFor="let activity of getActivitiesWithPosition()">
      <agm-marker
        (markerClick)="openActivityStartMarkerInfoWindow(activity)"
        [iconUrl]="'https://chart.googleapis.com/chart?chst=d_map_pin_icon&chld=home|'+ eventColorService.getActivityColor(event, activity).slice(1)"
        [latitude]="event.getPointsWithPosition(null, null, [activity])[0].getPosition().latitudeDegrees"
        [longitude]="event.getPointsWithPosition(null, null, [activity])[0].getPosition().longitudeDegrees">
        <agm-info-window
          [isOpen]="openedActivityStartMarkerInfoWindow === activity"
          [disableAutoPan]="false"
          [latitude]="event.getPointsWithPosition(null, null, [activity])[0].getPosition().latitudeDegrees"
          [longitude]="event.getPointsWithPosition(null, null, [activity])[0].getPosition().longitudeDegrees">
          <app-activity-header [activity]="activity" [showType]="false" [showDuration]="false"></app-activity-header>
          <span class="mat-title">Start {{activity.startDate.toLocaleTimeString()}}</span>
          <mat-divider [inset]="true"></mat-divider>
          <span class="mat-subheading-1">End {{activity.endDate.toLocaleTimeString()}}</span>
          <mat-divider [inset]="true"></mat-divider>
          <span class="mat-subheading-1">Duration: {{ activity.getDuration().getDisplayValue() }} {{ activity.getDuration().getDisplayUnit() }}</span>
          <mat-divider [inset]="true"></mat-divider>
          <span class="mat-subheading-1">Distance: {{ activity.getDistance().getDisplayValue() }} {{ activity.getDistance().getDisplayUnit() }}</span>
        </agm-info-window>
      </agm-marker>
      <agm-marker
        *ngFor="let lap of getLapsWithPosition(activity); let i = index; last as isLast"
        (markerClick)="openLapMarkerInfoWindow(lap)"
        [iconUrl]="'https://chart.googleapis.com/chart?chst=d_map_pin_icon&chld=flag|'+ eventColorService.getActivityColor(event, activity).slice(1)"
        [latitude]="event.getPointsWithPosition(lap.startDate, lap.endDate, [activity])[event.getPointsWithPosition(lap.startDate, lap.endDate, [activity]).length - 1].getPosition().latitudeDegrees"
        [longitude]="event.getPointsWithPosition(lap.startDate, lap.endDate, [activity])[event.getPointsWithPosition(lap.startDate, lap.endDate, [activity]).length - 1].getPosition().longitudeDegrees">
        <agm-info-window
          [disableAutoPan]="false"
          [isOpen]="openedLapMarkerInfoWindow === lap"
          [latitude]="event.getPointsWithPosition(lap.startDate, lap.endDate, [activity])[event.getPointsWithPosition(lap.startDate, lap.endDate, [activity]).length - 1].getPosition().latitudeDegrees"
          [longitude]="event.getPointsWithPosition(lap.startDate, lap.endDate, [activity])[event.getPointsWithPosition(lap.startDate, lap.endDate, [activity]).length - 1].getPosition().latitudeDegrees">
          <app-activity-header [activity]="activity" [showType]="false" [showDuration]="false"></app-activity-header>
          <span class="mat-title">Lap {{ i +1 }}</span>
          <mat-divider [inset]="true"></mat-divider>
          <span class="mat-subheading-1">Start {{lap.startDate.toLocaleTimeString()}}</span>
          <mat-divider [inset]="true"></mat-divider>
          <span class="mat-subheading-1">End {{lap.endDate.toLocaleTimeString()}}</span>
          <mat-divider [inset]="true"></mat-divider>
          <span class="mat-subheading-1">Duration: {{ lap.getDuration().getDisplayValue() }} {{ lap.getDuration().getDisplayUnit() }}</span>
          <mat-divider [inset]="true"></mat-divider>
          <span class="mat-subheading-1">Distance: {{ lap.getDistance().getDisplayValue() }} {{ lap.getDistance().getDisplayUnit() }}</span>
        </agm-info-window>
      </agm-marker>
    </ng-container>
  </agm-map>
</mat-card>
