<mat-card *ngIf="event.getActivities().length > 1">
  <mat-card-content>
    <section>
      <app-activities-checkboxes [event]="event" (selectedActivities)="onSelectedActivities($event)">
      </app-activities-checkboxes>
    </section>
  </mat-card-content>
</mat-card>

<mat-card>
  <agm-map
    [fullscreenControl]="true"
    [mapTypeControl]="true"
    [scaleControl]="true">
    <agm-polyline
      *ngFor="let activity of this.selectedActivities;"
      [strokeColor]="eventColorService.getActivityColor(event, activity)"
      [strokeWeight]="4">
      <agm-polyline-point
        *ngFor="let point of event.getPointsWithPosition(null, null, [activity])"
        [latitude]="point.getPosition().latitudeDegrees"
        [longitude]="point.getPosition().longitudeDegrees">
      </agm-polyline-point>
    </agm-polyline>

    <ng-container *ngFor="let activity of selectedActivities">
      <agm-marker *ngIf="getStartPosition(activity)"
                  (markerClick)="openActivityStartMarkerInfoWindow(activity)"
                  [iconUrl]="'https://chart.googleapis.com/chart?chst=d_map_pin_icon&chld=home|'+ eventColorService.getActivityColor(event, activity).slice(1)"
                  [latitude]="getStartPosition(activity).latitudeDegrees"
                  [longitude]="getStartPosition(activity).longitudeDegrees">
        <agm-info-window
          [isOpen]="openedActivityStartMarkerInfoWindow === activity"
          [disableAutoPan]="false"
          [latitude]="getStartPosition(activity).latitudeDegrees"
          [longitude]="getStartPosition(activity).longitudeDegrees">
          <app-activity-header [activity]="activity" [showType]="false" [showDuration]="false"></app-activity-header>
          <span class="mat-title">Start {{activity.startDate.toLocaleTimeString()}}</span>
          <mat-divider [inset]="true"></mat-divider>
          <span class="mat-subheading-1">End {{activity.endDate.toLocaleTimeString()}}</span>
          <mat-divider [inset]="true"></mat-divider>
          <span class="mat-subheading-1">Duration: {{ activity.getDuration().getDisplayValue() }} {{ activity.getDuration().getDisplayUnit() }}</span>
          <mat-divider [inset]="true"></mat-divider>
          <span class="mat-subheading-1">Distance: {{ activity.getDistance().getDisplayValue() }} {{ activity.getDistance().getDisplayUnit() }}</span>
        </agm-info-window>
      </agm-marker>
      <agm-marker
        *ngFor="let lap of activity.getLaps(); let i = index;"
        (markerClick)="openLapMarkerInfoWindow(lap)"
        [iconUrl]="'https://chart.googleapis.com/chart?chst=d_map_pin_icon&chld=flag|'+ eventColorService.getActivityColor(event, activity).slice(1)"
        [latitude]="getLapEndPosition(activity, lap).latitudeDegrees"
        [longitude]="getLapEndPosition(activity, lap).longitudeDegrees">
        <agm-info-window
          [disableAutoPan]="false"
          [isOpen]="openedLapMarkerInfoWindow === lap"
          [latitude]="getLapEndPosition(activity, lap).latitudeDegrees"
          [longitude]="getLapEndPosition(activity, lap).longitudeDegrees">
          <app-activity-header [activity]="activity" [showType]="false" [showDuration]="false"></app-activity-header>
          <span class="mat-title">Lap {{ i +1 }}</span>
          <mat-divider [inset]="true"></mat-divider>
          <span class="mat-subheading-1">Start {{lap.startDate.toLocaleTimeString()}}</span>
          <mat-divider [inset]="true"></mat-divider>
          <span class="mat-subheading-1">End {{lap.endDate.toLocaleTimeString()}}</span>
          <mat-divider [inset]="true"></mat-divider>
          <span class="mat-subheading-1">Duration: {{ lap.getDuration().getDisplayValue() }} {{ lap.getDuration().getDisplayUnit() }}</span>
          <mat-divider [inset]="true"></mat-divider>
          <span class="mat-subheading-1">Distance: {{ lap.getDistance().getDisplayValue() }} {{ lap.getDistance().getDisplayUnit() }}</span>
        </agm-info-window>
      </agm-marker>
      <agm-marker
        *ngIf="getEndPosition(activity)"
        (markerClick)="openActivityEndMarkerInfoWindow(activity)"
        [iconUrl]="'https://chart.googleapis.com/chart?chst=d_map_pin_icon&chld=glyphish_trophy|'+ eventColorService.getActivityColor(event, activity).slice(1)"
        [latitude]="getEndPosition(activity).latitudeDegrees"
        [longitude]="getEndPosition(activity).longitudeDegrees">
        <agm-info-window
          [isOpen]="openedActivityEndMarkerInfoWindow === activity"
          [disableAutoPan]="false"
          [latitude]="getEndPosition(activity).latitudeDegrees"
          [longitude]="getEndPosition(activity).longitudeDegrees">
          <app-activity-header [activity]="activity" [showType]="false" [showDuration]="false"></app-activity-header>
          <span class="mat-subheading-1">Start {{activity.startDate.toLocaleTimeString()}}</span>
          <mat-divider [inset]="true"></mat-divider>
          <span class="mat-title">End {{activity.endDate.toLocaleTimeString()}}</span>
          <mat-divider [inset]="true"></mat-divider>
          <span class="mat-subheading-1">Duration: {{ activity.getDuration().getDisplayValue() }} {{ activity.getDuration().getDisplayUnit() }}</span>
          <mat-divider [inset]="true"></mat-divider>
          <span class="mat-subheading-1">Distance: {{ activity.getDistance().getDisplayValue() }} {{ activity.getDistance().getDisplayUnit() }}</span>
        </agm-info-window>
      </agm-marker>
    </ng-container>
  </agm-map>
</mat-card>
