<mat-card>
  <mat-card>
    <mat-card-content>
      <section>
        <app-activities-checkboxes [event]="event" (selectedActivities)="onSelectedActivities($event)">
        </app-activities-checkboxes>
      </section>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <agm-map
      [fullscreenControl]="true"
      [mapTypeControl]="true"
      [scaleControl]="true">
      <agm-polyline
        *ngFor="let activity of getActivitiesWithPosition()"
        [strokeColor]="eventColorService.getActivityColor(event, activity)"
        [strokeWeight]="4">
        <agm-polyline-point
          *ngFor="let point of event.getPointsWithPosition(null, null, [activity])"
          [latitude]="point.getPosition().latitudeDegrees"
          [longitude]="point.getPosition().longitudeDegrees">
        </agm-polyline-point>
      </agm-polyline>

      <ng-container *ngFor="let activity of getActivitiesWithPosition()">
        <agm-marker
          (markerClick)="openActivityStartMarkerInfoWindow(activity)"
          [iconUrl]="'https://chart.googleapis.com/chart?chst=d_map_pin_icon&chld=home|'+ eventColorService.getActivityColor(event, activity).slice(1)"
          [latitude]="getActivityStartPoint(activity).getPosition().latitudeDegrees"
          [longitude]="getActivityStartPoint(activity).getPosition().longitudeDegrees">
          <agm-info-window
            [isOpen]="openedActivityStartMarkerInfoWindow === activity"
            [disableAutoPan]="false"
            [latitude]="getActivityStartPoint(activity).getPosition().latitudeDegrees"
            [longitude]="getActivityStartPoint(activity).getPosition().longitudeDegrees">
            <app-activity-header [event]="event" [activity]="activity" [showType]="false"
                                 [showDuration]="false"></app-activity-header>
            <span class="mat-title">Start {{activity.startDate.toLocaleTimeString()}}</span>
            <mat-divider [inset]="true"></mat-divider>
            <span class="mat-subheading-1">End {{activity.endDate.toLocaleTimeString()}}</span>
            <mat-divider [inset]="true"></mat-divider>
            <span class="mat-subheading-1">Duration: {{ activity.getDuration().getDisplayValue() }}{{ activity.getDuration().getDisplayUnit() }}</span>
            <mat-divider [inset]="true"></mat-divider>
            <span class="mat-subheading-1">Distance: {{ activity.getDistance().getDisplayValue() }}{{ activity.getDistance().getDisplayUnit() }}</span>
          </agm-info-window>
        </agm-marker>
        <agm-marker
          *ngFor="let lap of getLapsWithPosition(activity); let i = index; last as isLast"
          (markerClick)="openLapMarkerInfoWindow(lap)"
          [iconUrl]="'https://chart.googleapis.com/chart?chst=d_map_pin_icon&chld=flag|'+ eventColorService.getActivityColor(event, activity).slice(1)"
          [latitude]="getLapEndPoint(activity, lap).getPosition().latitudeDegrees"
          [longitude]="getLapEndPoint(activity, lap).getPosition().longitudeDegrees">
          <agm-info-window
            [disableAutoPan]="false"
            [isOpen]="openedLapMarkerInfoWindow === lap"
            [latitude]="getLapEndPoint(activity, lap).getPosition().latitudeDegrees"
            [longitude]="getLapEndPoint(activity, lap).getPosition().latitudeDegrees">
            <app-activity-header [event]="event" [activity]="activity" [showType]="false"
                                 [showDuration]="false"></app-activity-header>
            <span class="mat-title">Lap {{ i +1 }}</span>
            <mat-divider [inset]="true"></mat-divider>
            <span class="mat-subheading-1">Duration: {{ lap.getDuration().getDisplayValue() }}{{ lap.getDuration().getDisplayUnit() }}</span>
            <mat-divider [inset]="true"></mat-divider>
            <span class="mat-subheading-1">Distance: {{ lap.getDistance().getDisplayValue() }}{{ lap.getDistance().getDisplayUnit() }}</span>
            <ng-container *ngIf="getLapEndPoint(activity, lap).getDataByType('Altitude')">
              <mat-divider [inset]="true"></mat-divider>
              <span class="mat-subheading-1">Altitude: {{ getLapEndPoint(activity, lap).getDataByType('Altitude').getDisplayValue() }}{{ getLapEndPoint(activity, lap).getDataByType('Altitude').getDisplayUnit() }}</span>
            </ng-container>
            <ng-container *ngIf="lap.getStat('DataHeartRateAvg')">
              <mat-divider [inset]="true"></mat-divider>
              <span class="mat-subheading-1">Avg HR: {{ lap.getStat('DataHeartRateAvg').getDisplayValue() }}{{ lap.getStat('DataHeartRateAvg').getDisplayUnit() }}</span>
            </ng-container>
            <ng-container *ngIf="lap.getStat('DataAscent')">
              <mat-divider [inset]="true"></mat-divider>
              <span class="mat-subheading-1">Ascent: {{ lap.getStat('DataAscent').getDisplayValue() }}{{ lap.getStat('DataAscent').getDisplayUnit() }}</span>
            </ng-container>
            <ng-container *ngIf="lap.getStat('DataSpeedAvg')">
              <mat-divider [inset]="true"></mat-divider>
              <span class="mat-subheading-1">Speed: {{((lap.getStat('DataSpeedAvg').getValue()*3600)/1000).toFixed(1) }}km/h</span>
            </ng-container>
            <ng-container *ngIf="lap.getStat('DataSpeedAvg')">
              <mat-divider [inset]="true"></mat-divider>
              <span class="mat-subheading-1">Pace: {{ (1000/lap.getStat('DataSpeedAvg').getValue()) * 1000 | date:'mm:ss' }}m/km</span>
            </ng-container>
            <ng-container *ngIf="lap.getStat('DataVerticalSpeedAvg')">
              <mat-divider [inset]="true"></mat-divider>
              <span class="mat-subheading-1">Vertical Speed: {{(lap.getStat('DataVerticalSpeedAvg').getValue()*60) }}{{ lap.getStat('DataVerticalSpeedAvg').getDisplayUnit() }}</span>
            </ng-container>
          </agm-info-window>
        </agm-marker>
      </ng-container>
    </agm-map>
  </mat-card>
</mat-card>
