<dl class="training-build-table">
  <div class="training-build-table-heading"><dt>Metric</dt><dd>Now</dd><dd>Benchmark</dd><dd>Change</dd></div>
  @for (row of rows(); track row.label) {
    <div [class.training-build-intensity-row]="row.isIntensity">
      <dt>{{ row.label }}</dt>
      <dd><app-training-metric-text [text]="row.currentText"></app-training-metric-text></dd>
      <dd><app-training-metric-text [text]="row.benchmarkText"></app-training-metric-text></dd>
      <dd class="training-build-delta" [attr.data-tone]="row.deltaTone"><app-training-metric-text [text]="row.deltaText"></app-training-metric-text></dd>
    </div>
  }
</dl>
