<button md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
</button>
<md-menu #menu="mdMenu">
  <button md-menu-item (click)="downloadEventAsTCX(event)">
    <md-icon>file_download</md-icon>
    <span>Download as TCX</span>
  </button>
  <button md-menu-item *ngIf="event.getActivities().length > 1" (click)="mergeAllEventActivities(event)">
    <md-icon>compare_arrows</md-icon>
    <span>Merge activities</span>
  </button>
  <button md-menu-item (click)="deleteEvent(event)">
    <md-icon>delete forever</md-icon>
    <span>Delete</span>
  </button>
</md-menu>
