<button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation();">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
   <button mat-menu-item (click)="share()">
    <mat-icon>share</mat-icon>
    <span>Share</span>
  </button>
  <button mat-menu-item (click)="edit()">
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  <!--<button mat-menu-item (click)="downloadEventAsTCX(event)">-->
    <!--<mat-icon>file_download</mat-icon>-->
    <!--<span>Download as TCX</span>-->
  <!--</button>-->
  <button mat-menu-item (click)="download()">
    <mat-icon>file_download</mat-icon>
    <span>Download as JSON</span>
  </button>
  <button mat-menu-item (click)="delete()">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
