<button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation();" (menuOpened)="menuOpen($event)">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" class="qs-menu-panel">
  <button mat-menu-item (click)="share()">
    <mat-icon>share</mat-icon>
    <span>Share</span>
  </button>
  <button mat-menu-item (click)="editEvent()">
    <mat-icon>drive_file_rename_outline</mat-icon>
    <span>Edit settings</span>
  </button>
  @if (event.getActivities().length === 1) {
  <button mat-menu-item (click)="editEventActivity()" disabled="true">
    <mat-icon>edit</mat-icon>
    <span>Coming soon</span>
  </button>
  }
  <mat-divider></mat-divider>
  <button mat-menu-item class="regenerate-stat-item" (click)="reGenerateStatistics()">
    <mat-icon>autorenew</mat-icon>
    <span class="menu-item-with-tooltip">Regenerate activity statistics using Sports-Lib <mat-icon class="toolTip"
        matTooltip="This will re-calculate statistics like distance, ascent, descent etc...">info</mat-icon>
    </span>
  </button>
  <div class="menu-item-tooltip-wrapper" [matTooltip]="getReimportDisabledReason()"
    [matTooltipDisabled]="canReimportFromOriginalFile()">
    <button mat-menu-item class="reimport-stat-item" (click)="reImportActivityFromFile()"
      [disabled]="!canReimportFromOriginalFile()">
      <mat-icon>upload_file</mat-icon>
      <span>Reimport activity from file</span>
    </button>
  </div>
  <button mat-menu-item (click)="downloadJSON()">
    <mat-icon>file_download</mat-icon>
    <span>Download as JSON</span>
  </button>
  @if (hasPositionalData()) {
  <button mat-menu-item (click)="downloadGPX()">
    <mat-icon>file_download</mat-icon>
    <span>Download as GPX</span>
  </button>
  }





  @if ((event['originalFiles'] && event['originalFiles'].length > 0) || (event['originalFile'] &&
  event['originalFile'].path)) {
  <button mat-menu-item (click)="downloadOriginals()">
    <mat-icon>cloud_download</mat-icon>
    <span>Download original(s)</span>
  </button>
  }

  <button mat-menu-item (click)="delete()">
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
