@if (swimLengthViews.length > 0) {
<app-event-section-header icon="pool" title="Swim Lengths"></app-event-section-header>
<mat-tab-group [dynamicHeight]="true" [preserveContent]="true">
  @for (view of swimLengthViews; track view.key) {
  <mat-tab [label]="view.label">
    <section class="table-container">
      <table mat-table [dataSource]="view.dataSource">
        @for (column of view.columns; track column.name) {
        <ng-container [matColumnDef]="column.name" [sticky]="column.sticky">
          <mat-header-cell *matHeaderCellDef>
            <app-data-type-icon [dataType]="column.name"></app-data-type-icon>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row[column.name] }}</mat-cell>
        </ng-container>
        }

        <mat-header-row *matHeaderRowDef="view.columnNames"></mat-header-row>
        <mat-row *matRowDef="let row; columns: view.columnNames;"></mat-row>
      </table>
    </section>
  </mat-tab>
  }
</mat-tab-group>
}
