<mat-card class="mat-elevation-z0">

  <div class="example-loading-shade"
       *ngIf="isLoadingResults || isRateLimitReached">
    <mat-progress-bar *ngIf="isLoadingResults" mode="query"></mat-progress-bar>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
      API rate limit has been reached. It will be reset in one minute. Please wait or try donating so I can increase these limits.
    </div>
  </div>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <mat-table [dataSource]="data" matSort>
    <ng-container *ngFor="let column of columns; first as isFirst; last as isLast" [matColumnDef]="column">
      <ng-container *ngIf="isFirst">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
      </ng-container>
      <ng-container *ngIf="isLast">
        <mat-header-cell *matHeaderCellDef>
        </mat-header-cell>
      </ng-container>
      <ng-container *ngIf="!isFirst && !isLast">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span>
            <mat-icon *ngIf="getColumnIcon(column)">{{ getColumnIcon(column) }}</mat-icon>
        </span>
        </mat-header-cell>
      </ng-container>
      <mat-cell *matCellDef="let row">
        <mat-checkbox *ngIf="column === 'Checkbox'" (click)="$event.stopPropagation()"
                      (change)="$event ? checkBoxClick(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
        <span *ngIf="column === 'Privacy'">
          <app-privacy-icon [privacy]="row[column]"></app-privacy-icon>
        </span>
        <span *ngIf="column === 'Actions'">
          <app-event-actions *ngIf="user" [user]="user" [event]="row[column]"></app-event-actions>
        </span>
        <span *ngIf="column === 'Name'" matTooltip="{{ row[column] }}">
          {{ row[column] | slice:0:10 }}
        </span>
        <span *ngIf="column !== 'Checkbox' && column !== 'Actions' && column !== 'Name' && column!=='Privacy'">
          {{ row[column] }}
        </span>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columns;" [routerLink]="['/user', user.uid, 'event', row['Actions'].getID()]"></mat-row>
  </mat-table>
  <!--<mat-paginator [pageSize]="eventsPerPage"></mat-paginator>-->
  <mat-paginator [length]="resultsLength" [pageSize]="eventsPerPage"></mat-paginator>
</mat-card>
