mat-cell, .mat-header-cell {
  overflow: visible;
}

.mat-cell{
  font-size: 12px;
}

.mat-column-Checkbox, .mat-column-Actions, .mat-column-Privacy{
  max-width: 32px;
  padding: 0;
}

.mat-column-Checkbox {
  justify-content: flex-start;
}

.mat-column-Actions {
  justify-content: flex-end;
}

.mat-row {
  min-height: 50px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

mat-icon {
  vertical-align: middle;
  /*font-size: 22px;*/
  /*height: 22px;*/
  /*width: 22px;*/
}

.mat-header-row, .mat-row{
  padding: 0;
}

mat-card{
  margin-bottom: 1vh;
}

.mat-column-Checkbox{
  padding-left: 0;
}


.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}


.no-events {
  color: #FFFFFF;
  max-width: 360px;
  text-align: center;
}


::ng-deep .mat-paginator-container{
  justify-content: flex-start !important;
}
