mat-cell, .mat-header-cell {
  overflow: visible;
  min-width: 6vw;
}


.mat-cell{
  font-size: 0.85em ;
  padding-left: 0.5em;
  padding-right: 0.5em;
}



.mat-column-Checkbox, .mat-column-Privacy, .mat-column-Actions{
 min-width: 20px;
 max-width: 20px;
 width: 20px;
}

.mat-column-Average-Speed{
  width: 10vw;
  max-width: 10vw;
}

mat-form-field{
  width: 100%
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type{
  padding-right: 0;
}


.mat-column-Checkbox{
  justify-content: flex-start;
  padding-left:  0 !important;
  /*padding-right:  1em !important;*/
}

.mat-column-Checkbox{
  padding-left: 0.2em;
}

.mat-header-cell.mat-column-Checkbox{
  /*padding-left: 0.5em;*/
}

.mat-column-Actions {
  justify-content: flex-end;
  padding-right: 2em !important;
  /*padding-left:  1em !important;*/
}

.mat-row {
  min-height: 50px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

mat-icon {
  vertical-align: middle;
  /*font-size: 22px;*/
  /*height: 22px;*/
  /*width: 22px;*/
}

.mat-header-row, .mat-row{
  /*padding: 0;*/
}

/*td.mat-cell, th.mat-header-cell{*/

/*}*/

mat-card{
  /*min-height: 90vh;*/
  /*margin-bottom: 1vh;*/
  /*padding: 0.5em;*/
  margin: 0;
  padding: 0;
}

.merged {
 opacity: 0.7;
}

::ng-deep .mat-paginator-container{
  justify-content: flex-start !important;
}


table {
  width: 100%;
}

tr.mat-row:hover {
  background: rgba(239, 239, 239, 0.4);
}


tr.mat-row:focus{
  outline-width: 0;
}

tr.mat-row.normal-row td {
  /*border-bottom-width: 0;*/
}



th.mat-header-cell .mat-sort-header-container.mat-sort-header-sorted .mat-sort-header-arrow{ opacity: 1 !important; }
