form {
  width: 100%;
  padding: 1%;
}

mat-form-field {
  width: 100%;
}

.radio-container {
  padding-bottom: 1.25em;
}

.mat-radio-button{
  margin-right: 1%;
}
.full{
  width: 100%;
}

.account-delete{
  margin-top: 5em;
}
