<form [formGroup]="userFormGroup" (submit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="displayName">
    <!--<mat-hint></mat-hint>-->
    <mat-error *ngIf="hasError('displayName')">
      Name must not be empty
    </mat-error>
  </mat-form-field>

  <div class="radio-container">
    <label>Privacy: </label>
    <mat-radio-group formControlName="privacy">
      <mat-radio-button [value]="privacy.public">
        Public
      </mat-radio-button>
      <mat-radio-button [value]="privacy.private">
        Private
      </mat-radio-button>
    </mat-radio-group>
  </div>


  <mat-form-field>
    <input matInput placeholder="Your bio, description or anything you want to share..." formControlName="description">
    <!--<mat-hint></mat-hint>-->
    <mat-error *ngIf="hasError('description')">
      Description must not be empty
    </mat-error>
  </mat-form-field>

  <div>
    <button mat-button (click)="close()">Cancel</button>

    <button mat-button (click)="onSubmit()">Save</button>
  </div>


  <div class="account-delete">
    <button class="full" *ngIf="!consentToDelete" mat-flat-button color="warn" (click)="consentToDelete = true">
      DELETE MY ACCOUNT
    </button>
    <button class="full" *ngIf="consentToDelete" mat-flat-button color="warn" (click)="deleteUser()">I am sure, Yes
      delete it
    </button>
  </div>

</form>
