<mat-icon
  *ngIf="getColumnHeaderIcon(dataType)"
  [ngStyle]="{'font-size': size ? size : '24px', 'width':  size ? size : '24px', 'height':  size ? size : '24px', 'vertical-align': vAlign? vAlign : 'middle'}">
  {{ getColumnHeaderIcon(dataType) }}
</mat-icon>
<mat-icon
  *ngIf="getColumnHeaderSVGIcon(dataType)"
  [ngStyle]="{'font-size': size ? size : '24px', 'width':  size ? size : '24px', 'height':  size ? size : '24px', 'vertical-align': vAlign? vAlign : 'middle'}"
  [svgIcon]="getColumnHeaderSVGIcon(dataType)">
</mat-icon>
<section *ngIf="!getColumnHeaderSVGIcon(dataType) && !getColumnHeaderIcon(dataType)"
         [ngStyle]="{'font-size': size ? size : '24px', 'width':  size ? size : '24px', 'height':  size ? size : '24px', 'vertical-align': vAlign? vAlign : 'middle'}">
</section>
