@if (getColumnHeaderIcon(dataType)) {
<mat-icon matTooltip="{{dataType}}"
  [ngStyle]="{'font-size': size ? size : '24px', 'width':  size ? size : '24px', 'height':  size ? size : '24px', 'vertical-align': vAlign? vAlign : 'middle'}">
  {{ getColumnHeaderIcon(dataType) }}
</mat-icon>
}
@if (getColumnHeaderSVGIcon(dataType)) {
<mat-icon matTooltip="{{dataType}}"
  [ngStyle]="{'font-size': size ? size : '24px', 'width':  size ? size : '24px', 'height':  size ? size : '24px', 'vertical-align': vAlign? vAlign : 'middle'}"
  [svgIcon]="getColumnHeaderSVGIcon(dataType)">
</mat-icon>
}
@if (!getColumnHeaderSVGIcon(dataType) && !getColumnHeaderIcon(dataType)) {
<section matTooltip="{{dataType}}" [attr.data-letters]="getColumnHeaderTextInitials(dataType)"
  [ngStyle]="{'font-size': size ? size : '24px', 'width':  size ? size : '24px', 'height':  size ? size : '24px', 'vertical-align': vAlign? vAlign : 'middle'}">
</section>
}