{{> email_transactional_header}}
<h1 style="margin:0 0 20px; color:#172033; font-size:26px; line-height:34px;">Your Quantified Self account has been deleted</h1>

<p style="margin:0 0 18px;">Sign-in access to your Quantified Self account has been removed.</p>
<p style="margin:0 0 18px;">The account deletion workflow is removing the associated data, connected services, and uploaded files.</p>
<p style="margin:0;">If you did not expect this deletion, contact <a href="mailto:{{support_email}}" style="color:#174ea6;">{{support_email}}</a>.</p>
{{> email_transactional_footer}}
