<p>Hi there,</p>

<p>Your Quantified Self account has been permanently deleted.</p>

<p>This confirms that your account data, connected services, and uploaded files have been removed according to our deletion workflow.</p>

<p>If you did not request this action, please contact us immediately at <a href="mailto:support@quantified-self.io">support@quantified-self.io</a>.</p>

<br>
<p>Best regards,<br>The Quantified Self Team<br>quantified-self.io</p>
<div style="margin-top: 10px;">
    <img src="https://quantified-self.io/assets/logos/app/logo-100x100.png" alt="Quantified Self" width="100"
        height="100">
</div>
