<p>Hi there,</p>

<p>Great news! You have successfully upgraded your subscription to <strong>{{new_role}}</strong>.</p>

<p>You now have access to all the features of your new plan.</p>

<p>Thank you for supporting Quantified Self!</p>

<br>
<p>
    <a href="https://quantified-self.io/pricing"
        style="background-color: #03a9f4; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px;">View
        My Perks</a>
</p>

<br>
<p>Best regards,<br>The Quantified Self Team<br>quantified-self.io</p>
<div style="margin-top: 10px;">
    <img src="https://quantified-self.io/assets/logos/app/logo-100x100.png" alt="Quantified Self" width="100"
        height="100">
</div>