section {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  width: calc(100% - 12px);
  height: 30vh;
  border: #DEDEDE 6px dashed;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(calc(0% + 5px) calc(0% + 5px),
      /* top left */
      calc(100% - 5px) calc(0% + 5px),
      /* top right */
      calc(100% - 5px) calc(100% - 5px),
      /* bottom right */
      calc(0% + 5px) calc(100% - 5px)
      /* bottom left */
    );
  transition: clip-path 0.6s linear;
}

button {
  /*min-width: 100%;*/
  vertical-align: middle;
}

.full {
  width: 100%;
}