<mat-card class="mat-elevation-z0">
  @if (totalProgress < 100 && bufferProgress < 100) {
    <mat-card-title>
      Getting your activities
    </mat-card-title>
  }
  @if (totalProgress < 100 && bufferProgress >= 100) {
    <mat-card-title>
      Loading your tracks
    </mat-card-title>
  }
  <mat-card-content>
    <mat-progress-bar
      [color]="'primary'"
      [mode]="'buffer'"
      [value]="totalProgress"
      [bufferValue]="bufferProgress">
    </mat-progress-bar>
  </mat-card-content>
</mat-card>
