<div class="progress-container">
  <div class="progress-header">
    @if (totalProgress < 100 && bufferProgress < 100) { <div class="mat-title-medium status-text">
      Getting your activities
  </div>
  }
  @if (totalProgress < 100 && bufferProgress>= 100) {
    <div class="mat-title-medium status-text">
      Loading your tracks
    </div>
    }
    <div class="mat-label-large percentage-text">
      {{ totalProgress | number:'1.0-0' }}%
    </div>
</div>

<mat-progress-bar class="custom-progress-bar" mode="buffer" [value]="totalProgress" [bufferValue]="bufferProgress">
</mat-progress-bar>
</div>