mat-card {
  /*margin-top: 0.0em;*/
  /*margin-bottom: 0.8em;*/
  /*margin-left: 0.8em;*/
  /*margin-right: 0.8em;*/
  /*padding: 16px 0 0;*/
  /*min-height: calc(30vh);*/
  padding-top: 0;
  padding-bottom: 0;
}
mat-card-subtitle{
  margin-bottom: 0;
  color: unset !important;
}

.mat-card-avatar{
  text-align: center;
  height: auto;
  width: auto;
}

mat-card-header .mat-card-title{
  /*font-size: 1.3em;*/
}
