<mat-card class="mat-elevation-z0">
  <!-- Event details -->
  <mat-card-header>
    <div mat-card-avatar>
      <app-privacy-icon [privacy]="event.privacy" (click)="toggleEventPrivacy()"></app-privacy-icon>
    </div>
    <mat-card-title>
      <span>
         {{ event.startDate | date:"d MMM " }}
      </span>
      <span style="font-size: 0.8em">
         {{ event.startDate | date:"yyyy" }}
      </span>
      <span style="font-size: 0.7em;">
        at {{ event.startDate | date:"h:mm:ss a" }}
      </span>
    </mat-card-title>
    <mat-card-subtitle>
      <section class="container">
        <section class="item" *ngFor="let stat of stats">
          <app-data-type-icon [dataType]="stat.getType()"></app-data-type-icon>
          {{stat.getDisplayValue()}}{{stat.getDisplayUnit()}}
        </section>
<!--        <section class="item">-->
<!--          <mat-icon>access_time</mat-icon>-->
<!--          {{event.getDuration().getDisplayValue()}}-->
<!--        </section>-->
<!--        <section class="item">-->
<!--          <mat-icon>trending_flat</mat-icon>-->
<!--          {{event.getDistance().getDisplayValue()}}{{event.getDistance().getDisplayUnit()}}-->
<!--        </section>-->
<!--        <section class="item">-->
<!--          <mat-icon svgIcon="heart_rate"></mat-icon>-->
<!--          {{ event.getStat('Average Heart Rate')?.getDisplayValue()}}{{event.getStat('Average Heart Rate')?.getDisplayUnit()}}-->
<!--        </section>-->
<!--        <section class="item">-->
<!--          <mat-icon svgIcon="energy"></mat-icon>-->
<!--          {{ event.getStat('Average Power')?.getDisplayValue()}}{{event.getStat('Average Power')?.getDisplayUnit()}}-->
<!--        </section>-->

      </section>
    </mat-card-subtitle>

    <app-event-actions *ngIf="user" [user]="user" [event]="event" align="end"></app-event-actions>
  </mat-card-header>
  <mat-card-subtitle style="margin-bottom: 0">
    <app-edit-input
      [disabled]="!user"
      [(data)]='event.name'
      [type]="'text'"
      [placeHolder]="event.name ? 'Name': 'Add a name'"
      (dataChange)="saveEventDescription(event.description, event)">
    </app-edit-input>
  </mat-card-subtitle>
  <mat-card-subtitle style="margin-bottom: 0">
    <app-edit-input
      [disabled]="!user"
      [(data)]='event.description'
      [type]="'textArea'"
      [placeHolder]="event.description ? 'Description': 'Add a description'"
      (dataChange)="saveEventDescription(event.description, event)">
    </app-edit-input>
  </mat-card-subtitle>
  <mat-card-subtitle style="margin-bottom: 0;">
    <app-edit-input style="width: 50%; display: inline-block;"
      [(data)]="feeling"
      [type]="'select'"
      [placeHolder]="'Feeling'"
      [selectOptions]="feelings"
      (dataChange)="saveEventFeeling(feeling, event)">
    </app-edit-input>
    <app-edit-input style="width: 50%; display: inline-block;"
      [(data)]='rpe'
      [type]="'select'"
      [placeHolder]="'Rating of Perceived Exertion'"
      [selectOptions]="rpeBorgCR10SCale"
      (dataChange)="saveEventRPE(rpe, event)">
    </app-edit-input>
  </mat-card-subtitle>

</mat-card>
