mat-card {
  padding-top: 0;
  padding-bottom: 0;
}

mat-card-subtitle {
  margin-bottom: 0;
  /* color: unset !important; */
}

.mat-card-avatar {
  text-align: center;
  height: auto;
  width: auto;
}

mat-card-header .mat-card-title {
  /*font-size: 1.3em;*/
}

mat-form-field {
  width: 100%;
}

/* Removed ::ng-deep overrides for disabled form fields and inputs */