<md-card>
  <md-card-header>
    <md-card-title><span class="mat-h1">Activities</span></md-card-title>
  </md-card-header>

  <md-card-content>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="text-center"><h6>Date</h6></th>
          <th class="text-center"><h6>Type</h6></th>
          <th class="text-center"><h6>Distance</h6></th>
          <th class="text-center"><h6>Duration</h6></th>
          <th class="text-center"><h6>Speed</h6></th>
          <th class="text-center"><h6>Pace</h6></th>
          <th class="text-center text-truncate"><h6>Heart Rate</h6></th>
          <th class="text-center"><h6>Power</h6></th>
          <th class="text-center"><h6>Cadence</h6></th>
          <th class="text-center text-truncate"><h6>Temperature</h6></th>
        </tr>
        </thead>
        <tbody>
        <tr app-event-activity-table-row
            [attr.data-index]="i"
            *ngFor="let activity of event.getActivities(); index as index; first as isFirst; last as isLast; count as count;"
            [index]="index"
            [isFirst]="isFirst"
            [isLast]="isLast"
            [count]="count"
            [event]="event"
            [activity]="activity"></tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="event.getActivities().length > 1">
      <hr/>
      <button
        class="btn btn-sm btn-outline-primary"
        (click)="mergeAllActivities(event)">Merge Activities
      </button>
    </div>

  </md-card-content>
</md-card>

