<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="text-center">Date</th>
      <th class="text-center">Activity Type</th>
      <th class="text-center">Distance</th>
      <th class="text-center">Duration</th>
      <th class="text-center">Speed</th>
      <th class="text-center">Pace</th>
      <th class="text-center" *ngIf="event.getDataByType('DataHeartRate')">Heart Rate</th>
      <th class="text-center" *ngIf="event.getDataByType('DataPower')">Power</th>
      <th class="text-center" *ngIf="event.getDataByType('DataCadence')">Cadence</th>
      <th class="text-center" *ngIf="event.getDataByType('DataTemperature')">Temperature</th>
      <th class="text-center">Creator(s)</th>
    </tr>
    </thead>
    <tbody>
    <tr app-event-activity-table-row
        [attr.data-index]="i"
        *ngFor="let activity of event.getActivities(); index as index; first as isFirst; last as isLast; count as count;"
        [index]="index"
        [isFirst]="isFirst"
        [isLast]="isLast"
        [count]="count"
        [activity]="activity"></tr>
    <tr *ngIf="event.getActivities().length > 1">
      <td colspan="6"></td>
      <td >
        <div class="d-flex w-100 justify-content-between">
          <span class="btn btn-sm btn-outline-primary" (click)="mergeAllActivities(event)">Merge Activities</span>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
