mat-card{
  padding: 0;
  min-height: calc(100vh - 48px);
}

mat-grid-list{
  min-height: calc(100vh - 48px);
}

mat-icon{
  font-size: 50px;
  height:50px;
  width: 50px;
}


mat-grid-tile.app-icon{
  text-align: center;
  /*padding: 2em;*/
}
