<mat-grid-list [cols]="getColumnsToDisplayDependingOnScreenSize()" [rowHeight]="'fit'">
  <mat-grid-tile class="app-icon">
    <span>
      <mat-icon>filter_hdr</mat-icon>
      <br/>
      {{appVersion}}
    </span>
  </mat-grid-tile>
  <mat-grid-tile>
    <span>
      <span class="mat-h1">
        Quantified Self is...
      </span>
      <br/>
      A premium <b>analytical tool</b> for any <b>fitness device data</b>
     </span>
  </mat-grid-tile>
  <mat-grid-tile>
    <span>
      <span>Runs on <b>FireBase</b>, made with <b>Angular</b></span>
      <br/>
      <span><b>Charts</b> powered by <b>amCharts</b></span>
    </span>
  </mat-grid-tile>
  <mat-grid-tile>
    <span>
      <span class="mat-body-2"><b>Source code:</b></span>
      <button mat-button onclick="window.open('https://github.com/jimmykane/quantified-self')">GitHub</button>
    </span>
  </mat-grid-tile>
</mat-grid-list>
