mat-card{
  /*padding: 0;*/
  /*min-height: calc(100vh - 59px);*/
  /*width: 100%;*/
  /*min-height: 80%;*/
  /*flex-basis: 40%;*/
  /*flex-grow: 1;*/
  /*margin: 1em;*/
  /*background: none!important;*/
  flex-basis: 36%;
  flex-grow: 1;
  margin: 2em;
  background: none!important;
}

.footer mat-icon{
  vertical-align: middle;
  margin-right: 1em;
}
mat-icon.amcharts{
  margin-top: 1em;
  width: 100px;
  height: 42px;
}

mat-icon.firebase{
  margin-top: 0em;
  width: 130px;
  height: 60px;
}


section{
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-flow: row wrap;
  justify-content: space-evenly;
}



mat-icon[svgIcon].mat-card-avatar {
  width: 80px!important;
  height: 80px!important;
  font-size: 85px!important;
}

mat-list-item mat-icon[svgIcon]{
  width: 32px !important;
  padding: 0!important;
  height: 32px!important;
}

.mat-h1{
  margin: 0;
}

mat-grid-tile.app-icon{
  text-align: center;
  /*padding: 2em;*/
}


a{
  padding: 0;
}

app-home-live-chart{
  width: 100%;
  height: 100%;
}

mat-card.footer {
  margin: 0;
  text-align: center;
  flex-basis: 100% !important; /* Force full width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
