<section class="component-container">
  <mat-card class="mat-elevation-z0 compoent-container">
    <mat-card-header>
      <mat-icon style="height: 48px !important" mat-card-avatar svgIcon="logo" (click)="navigateToDashboardOrLogin()">
      </mat-icon>
      <mat-card-title>
        Quantified Self
      </mat-card-title>
      <mat-card-subtitle>
        A free professional analytical tool for your activity data
      </mat-card-subtitle>
    </mat-card-header>
    <mat-list>
      <div mat-subheader>Features</div>
      <mat-list-item>
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle>Dashboard</span>
        <span matListItemLine>Build it the way you like it</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>multiline_chart</mat-icon>
        <span matListItemTitle>Activity analysis</span>
        <span matListItemLine>Zoom, select or combine</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>sync</mat-icon>
        <span matListItemTitle>Realtime sync</span>
        <span matListItemLine>For all your devices</span>
      </mat-list-item>
    </mat-list>
  </mat-card>
  <mat-card class="mat-elevation-z0 compoent-container">
    <mat-card-header>
      <mat-icon mat-card-avatar svgIcon="dashboard">
      </mat-icon>
      <mat-card-title>
        Your dashboard
      </mat-card-title>
      <mat-card-subtitle>
        Build your dashboard, the way you like it
      </mat-card-subtitle>
    </mat-card-header>
    <mat-list>
      <div mat-subheader>Choose</div>
      <mat-list-item>
        <mat-icon matListItemIcon svgIcon="chart-types"></mat-icon>
        <span matListItemTitle>Charts</span>
        <span matListItemLine>7 Chart types to choose among</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon svgIcon="heat-map"></mat-icon>
        <span matListItemTitle>Heatmaps and clusters</span>
        <span matListItemLine>12 map styles to choose among</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>table_chart</mat-icon>
        <span matListItemTitle>Tabular data</span>
        <span matListItemLine>Sort, filter for quick access</span>
      </mat-list-item>
    </mat-list>
  </mat-card>
  <mat-card class="mat-elevation-z0 compoent-container">
    <mat-card-header>
      <mat-icon mat-card-avatar svgIcon="chart">
      </mat-icon>
      <mat-card-title>
        Detailed analysis
      </mat-card-title>
      <mat-card-subtitle>
        Dig into your data
      </mat-card-subtitle>
    </mat-card-header>
    <mat-list>
      <div mat-subheader>Features</div>
      <mat-list-item>
        <mat-icon matListItemIcon svgIcon="stacked-chart"></mat-icon>
        <span matListItemTitle>Charts</span>
        <span matListItemLine>Detailed and configurable</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>map</mat-icon>
        <span matListItemTitle>Map</span>
        <span matListItemLine>Check your GPS track</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon svgIcon="bar-chart"></mat-icon>
        <span matListItemTitle>Zones</span>
        <span matListItemLine>HR, Power and Speed Zones</span>
      </mat-list-item>
    </mat-list>
  </mat-card>

  <mat-card class="mat-elevation-z0 compoent-container">
    <mat-card-header>
      <mat-icon mat-card-avatar svgIcon="watch-sync">
      </mat-icon>
      <mat-card-title>
        A hub for your fitness data
      </mat-card-title>
      <mat-card-subtitle>
        Garmin or Suunto it doesn't matter
      </mat-card-subtitle>
    </mat-card-header>
    <mat-list>
      <div mat-subheader>Features</div>
      <mat-list-item>
        <mat-icon matListItemIcon>cloud_done</mat-icon>
        <span matListItemTitle>Automatic sync</span>
        <span matListItemLine>Realtime and reliable sync</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>history</mat-icon>
        <span matListItemTitle>History import</span>
        <span matListItemLine>Import all your data</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListItemIcon>cloud_upload</mat-icon>
        <span matListItemTitle>Manual upload</span>
        <span matListItemLine>Supports FIT, TCX and GPX</span>
      </mat-list-item>
    </mat-list>
  </mat-card>
  <mat-card class="mat-elevation-z0 footer">
    <div class="footer-row">
      <mat-icon class="firebase" svgIcon="jetbrains_logo"
        onclick="window.open('https://jetbrains.com/?ref=quantified-self.io')"></mat-icon>
      <mat-icon class="firebase" svgIcon="firebase"
        onclick="window.open('https://firebase.google.com/?ref=quantified-self.io')"></mat-icon>
      <mat-icon class="amcharts" svgIcon="amcharts"
        onclick="window.open('https://amcharts.com/?ref=quantified-self.io')"></mat-icon>
    </div>

    <mat-divider [inset]="true" style="width: 80%; margin: 10px 0;"></mat-divider>

    <div class="footer-row">
      <mat-icon class="large-svg-icon" svgIcon="suunto"
        (click)="router.navigate(['/services'], { queryParams: { serviceName: serviceNames.SuuntoApp } });"></mat-icon>
      <mat-icon class="large-svg-icon-coros" svgIcon="coros"
        (click)="router.navigate(['/services'],{ queryParams: { serviceName: serviceNames.COROSAPI }});"></mat-icon>
      <mat-icon class="large-svg-icon" svgIcon="garmin"
        (click)="router.navigate(['/services'], { queryParams: { serviceName: serviceNames.GarminHealthAPI }});"></mat-icon>
    </div>

    <mat-divider [inset]="true" style="width: 80%; margin: 10px 0;"></mat-divider>

    <div class="footer-row" style="cursor: pointer; margin-top: 10px;" routerLink="/policies">
      <mat-icon>policy</mat-icon>
      <span style="margin-left: 8px;">Privacy & Policies</span>
    </div>
  </mat-card>
</section>