@use 'forms' as *;

/* Global Search & Filter Styles */
.qs-filter-container {
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    border-radius: 12px;
}

.qs-search-field {
    @include qs-hide-subscript;
    width: 100%;
    max-width: 400px;

    .mat-mdc-text-field-wrapper {
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.dark-theme {
    .qs-search-field .mat-mdc-text-field-wrapper {
        background-color: rgba(0, 0, 0, 0.2) !important;
    }
}