<mat-card class="container" *ngIf="targetUser.displayName"> <!-- todo check a valid if -->
  <mat-card-header>
    <app-user-actions *ngIf="isOwner()" [user]="targetUser" align="end"></app-user-actions>
    <div *ngIf="targetUser.photoURL"
         mat-card-avatar class="avatar"
         [style.backgroundImage]="'url('+ targetUser.photoURL +')'">
    </div>
    <mat-card-title>
      <app-privacy-icon [privacy]="targetUser.privacy" align="end"></app-privacy-icon>
      {{ targetUser.displayName }}
    </mat-card-title>
    <mat-card-subtitle *ngIf="targetUser.description">{{ targetUser.description }}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="isOwner() && !targetUser.description">
      <button mat-button color="basic" (click)="edit()">add a description</button>
    </mat-card-subtitle>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="isOwner()">
      <app-user-settings [user]="currentUser"></app-user-settings>
  </mat-card-content>
  <!-- todo Implement this please -->
  <!--<mat-card-actions>-->
  <!--<button mat-button>LIKE</button>-->
  <!--</mat-card-actions>-->
</mat-card>
