.intensity-zones-container {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  height: 26vh;
  background: transparent;
}

.intensity-zones-chart {
  flex: 1 1 auto;
}
