<section>
  @if (showActions) {
  <app-tile-chart-actions class="actions" [user]="user" [chartType]="chartType" [order]="order" [size]="size"
    [type]="type" [chartDataType]="dataType" [chartDataCategoryType]="dataCategoryType"
    [chartTimeInterval]="dataTimeInterval" [chartDataValueType]="dataValueType">
  </app-tile-chart-actions>
  }
  @if (chartType === chartTypes.Pie) {
  <app-pie-chart [isLoading]="isLoading" [data]="data" [chartTheme]="chartTheme" [chartDataType]="dataType"
    [chartDataValueType]="dataValueType" [chartDataCategoryType]="dataCategoryType"
    [chartDataTimeInterval]="dataTimeInterval">
  </app-pie-chart>
  }
  @if (chartType === chartTypes.LinesHorizontal
  || chartType === chartTypes.LinesVertical) {
  <app-xy-chart [isLoading]="isLoading" [data]="data" [chartTheme]="chartTheme" [chartDataType]="dataType"
    [chartDataValueType]="dataValueType" [chartDataCategoryType]="dataCategoryType"
    [chartDataTimeInterval]="dataTimeInterval">
  </app-xy-chart>
  }
  @if (chartType === chartTypes.ColumnsHorizontal
  || chartType === chartTypes.ColumnsVertical
  || chartType === chartTypes.PyramidsVertical) {
  <app-columns-chart [isLoading]="isLoading" [data]="data" [chartTheme]="chartTheme" [type]="(chartType === chartTypes.ColumnsVertical || chartType === chartTypes.ColumnsHorizontal)
      ? 'columns'
      : 'pyramids'" [chartDataType]="dataType" [chartDataValueType]="dataValueType"
    [chartDataCategoryType]="dataCategoryType" [chartDataTimeInterval]="dataTimeInterval">
  </app-columns-chart>
  }
  @if (chartType === chartTypes.Spiral) {
  <app-timeline-chart [isLoading]="isLoading" [data]="data" [chartTheme]="chartTheme" [chartDataType]="dataType"
    [chartDataValueType]="dataValueType" [chartDataCategoryType]="dataCategoryType"
    [chartDataTimeInterval]="dataTimeInterval">
  </app-timeline-chart>
  }

  @if (chartType === chartTypes.IntensityZones) {
  <app-intensity-zones-chart [isLoading]="isLoading" [data]="data" [chartTheme]="chartTheme" [chartDataType]="dataType"
    [chartDataValueType]="dataValueType" [chartDataCategoryType]="dataCategoryType"
    [chartDataTimeInterval]="dataTimeInterval">
  </app-intensity-zones-chart>
  }
</section>