:host {
  display: block;
  width: 100%;
}

.mat-column-Manufacturer {
  text-transform: capitalize;
}

mat-table {
  padding-bottom: 1em;
  background: transparent;
  min-width: 100%;
}

mat-header-cell,
mat-cell {
  padding-right: 24px;
  min-width: 80px;
  flex: 0 0 auto;
  box-sizing: border-box;
  white-space: nowrap;
}

mat-header-cell:first-of-type,
mat-cell:first-of-type {
  padding-left: 16px;
}

/* Make the index column smaller */
.mat-column-\# {
  min-width: 50px;
  justify-content: center;
}

.activity-devices-section {
  padding-bottom: 16px;
}

.table-container {
  overflow-x: auto;
  width: 100%;
}