.mat-column-Manufacturer {
  text-transform: capitalize;
}

mat-table {
  padding-bottom: 1em;
  background: transparent;
}

.activity-devices-section {
  padding-bottom: 16px;
}

.table-container {
  overflow-x: auto;
  width: 100%;
}