@for (activity of selectedActivities; track activity) {
<div class="activity-devices-section">
  <app-activity-toggle [event]="event" [showToggle]="false" [showDate]="false" [showStats]="false" [activity]="activity"
    [selectedActivities]="selectedActivities">
  </app-activity-toggle>
  @if (getDataSource(activity)) {
  <div class="table-container">
    <mat-table [dataSource]="getDataSource(activity)">
      @for (column of getColumns(activity); track column) {
      <ng-container [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef><app-data-type-icon
            [dataType]="column"></app-data-type-icon></mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row[column] }}</mat-cell>
      </ng-container>
      }
      <mat-header-row *matHeaderRowDef="getColumns(activity)"></mat-header-row>
      <mat-row *matRowDef="let row; columns: getColumns(activity);"></mat-row>
    </mat-table>
  </div>
  }
</div>
@if (!$last) {
<mat-divider [inset]="true"></mat-divider>
}
}