@if (metricTabs.length > 0) {
<mat-tab-group class="summary-metric-tabs" [selectedIndex]="selectedTabIndex"
    (selectedIndexChange)="onSelectedTabIndexChange($event)">
    @for (tab of metricTabs; track tab.id) {
    <mat-tab [label]="tab.label">
        <ng-template matTabContent>
            <app-header-stats [statsToShow]="tab.metricTypes" [layout]="layout" [stats]="stats" [unitSettings]="unitSettings"
                [showDiff]="showDiff" [diffByType]="diffByType" [singleValueTypes]="tab.singleValueTypes">
            </app-header-stats>
        </ng-template>
    </mat-tab>
    }
</mat-tab-group>
}
