<mat-card class="tracks-map-shell mat-elevation-z0">
  @if (user) {
  <app-peek-panel class="tracks-search-peek" position="top" topAnchor="center"
    [expanded]="searchPeekExpanded()"
    (expandedChange)="searchPeekExpanded.set($event)"
    [defaultExpanded]="searchPeekDefaultExpanded()"
    borderMode="none" [expandedSizePx]="332" [collapsedSizePx]="28" ariaLabelExpand="Expand filters"
    ariaLabelCollapse="Collapse filters">
    <app-event-search class="compact-filter-layout" [compact]="true"
      [startOfTheWeek]="user.settings.unitSettings.startOfTheWeek" [showDatePicker]="true"
      [showActivityTypePicker]="true" [dateRangesToShow]="dateRangesToShow"
      [selectedActivityTypes]="myTracksSettings().activityTypes"
      [availableActivityTypes]="availableMyTracksActivityTypes()"
      [selectedDateRange]="myTracksSettings().dateRange" [selectedStartDate]="selectedMyTracksStartDate()"
      [selectedEndDate]="selectedMyTracksEndDate()" [includeMergedEvents]="false"
      (searchChange)="search($event)">
    </app-event-search>
  </app-peek-panel>
  }

  <div #mapDiv id="map"></div>
  @if (selectedStartPoint(); as startPoint) {
  @if (selectedStartPointScreen(); as startPointScreen) {
  @if (getStartPointPopupContent(startPoint); as popupContent) {
  <div #trackStartPopupAnchor class="track-start-popup-anchor" [style.left.px]="startPointScreen.x" [style.top.px]="startPointScreen.y">
    <app-map-activity-popup
      [activityType]="popupContent.eventType"
      [iconActivityType]="popupContent.iconEventType"
      [startDate]="popupContent.startDate"
      [fallbackTopMetaText]="'Activity start'"
      [metrics]="popupContent.metrics"
      [event]="resolveStartPointEvent(startPoint)"
      [user]="user"
      [actionLabel]="'Open activity'"
      [dismissible]="false"
      (actionClick)="openSelectedStartPointEvent()">
    </app-map-activity-popup>
  </div>
  }
  }
  }

  @if (hasEvaluatedTripDetection() && (detectedTrips().length > 0 || !!detectedHomeArea())) {
  <app-my-tracks-trips-panel
    [trips]="displayedDetectedTrips()"
    [homeArea]="detectedHomeArea()"
    [expanded]="detectedTripsPanelExpanded()"
    [sortDirection]="tripSortDirection()"
    [selectedTripId]="selectedDetectedTripId()"
    [homeSelected]="isHomeEntrySelected()"
    (panelExpandedChange)="detectedTripsPanelExpanded.set($event)"
    (sortToggle)="toggleTripSortDirection()"
    (tripSelected)="onDetectedTripSelected($event)"
    (tripHovered)="onDetectedTripHovered($event)"
    (tripHoverEnded)="onDetectedTripHoverEnded($event)"
    (homeSelectedChange)="onDetectedHomeSelected()"
    (homeHovered)="onDetectedHomeHovered()"
    (homeHoverEnded)="onDetectedHomeHoverEnded()"
  ></app-my-tracks-trips-panel>
  }
</mat-card>
