mat-card{
  padding: 0;
  height: calc(100vh - 60px);
  /*height: 100vh;*/
}
app-event-search{
  height: 9%;
  /*margin-bottom: 1em;*/
  display: block;
  padding: 0.5em;
  padding-top: 0;
  /*margin-left: 0.5em;*/
  z-index: 1000;
  position: absolute;
  top: 0;
  /* left: 50%; */
  margin: auto;
  /* right: 50%; */
  left: 50%;
  transform: translate(-50%, 0);
}
#map{
  height: 100%;
}
