<app-shade [isActive]="isLoading" [hasError]="markers && markers.length === 0"
  [errorMessage]="'Nothing to show'"></app-shade>

<!-- Selected Event Card -->
@if (selectedEvent) {
<mat-card>
  <button class="close-button" mat-icon-button (click)="selectedEvent=null; selectedEventPositionsByActivity = []"
    align="end">
    <mat-icon>close</mat-icon>
  </button>
  <mat-card-header>
    <mat-card-title>
      <span>
        <b>{{ selectedEvent.startDate | date:"d" }}</b>
      </span>
      <span style="font-size: 1em">
        {{ selectedEvent.startDate | date:"MMM " }}
      </span>
      <span style="font-size: 0.8em">
        <b>{{ selectedEvent.startDate | date:"yyyy" }}</b>
      </span>
      <span style="font-size: 0.7em;">
        at {{ selectedEvent.startDate | date:"h:mm:ss a" }}
      </span>
    </mat-card-title>
    <mat-card-subtitle style="font-size: 1.0em;">
      <b>{{selectedEvent.getActivityTypesAsString()}}</b>
      for {{selectedEvent.getDuration().getDisplayValue(false, false)}}
      and {{selectedEvent.getDistance().getDisplayValue()}}{{selectedEvent.getDistance().getDisplayUnit()}}
    </mat-card-subtitle>
  </mat-card-header>
  @if (selectedEvent.description) {
  <mat-card-content>
    {{selectedEvent.description}}
  </mat-card-content>
  }
  <mat-card-actions>
    <button mat-button [routerLink]="['/user', user.uid, 'event', selectedEvent.getID()]">Open</button>
  </mat-card-actions>
</mat-card>
}

<!-- Google Map -->
@defer (on viewport) {
@if (apiLoaded()) {
<google-map height="100%" width="100%" [center]="mapCenter()" [zoom]="mapZoom()" [mapTypeId]="mapTypeId()"
  [options]="mapOptions" (mapInitialized)="onMapReady($event)" (mapTypeIdChange)="changeMapType($any($event))">

  <!-- Polylines for selected event activities -->
  @if (selectedEventPositionsByActivity) {
  @for (positionsByActivity of selectedEventPositionsByActivity; track positionsByActivity) {
  <map-polyline [path]="getPolylinePath(positionsByActivity.positions)"
    [options]="getPolylineOptions(positionsByActivity.color)">
  </map-polyline>
  }
  }
</google-map>
}
} @placeholder {
<div
  style="height: 100%; width: 100%; display: flex; align-items: center; justify-content: center; background-color: rgba(0,0,0,0.05);">
  <p>Loading map...</p>
</div>
}