<button mat-icon-button [matMenuTriggerFor]="chartOptions"
  (click)="$event.preventDefault(); $event.stopPropagation(); fixDisappearIOSBug();">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #chartOptions="matMenu" class="qs-menu-panel qs-menu-panel-form qs-config-menu">
  <section mat-menu-item>
    <mat-form-field>
      <mat-label>Column Size</mat-label>
      <mat-select placeholder="Size" [value]="size.columns" panelClass="qs-config-submenu qs-config-submenu-compact"
        (selectionChange)="changeTileColumnSize($event)">
        <mat-option [value]="1">1</mat-option>
        <mat-option [value]="2">2</mat-option>
        <mat-option [value]="3">3</mat-option>
        <mat-option [value]="4">4</mat-option>
      </mat-select>
    </mat-form-field>
  </section>

  <section mat-menu-item>
    <mat-form-field>
      <mat-label>Row Size</mat-label>
      <mat-select placeholder="Size" [value]="size.rows" panelClass="qs-config-submenu qs-config-submenu-compact"
        (selectionChange)="changeTileRowSize($event)">
        <mat-option [value]="1">1</mat-option>
        <mat-option [value]="2">2</mat-option>
        <mat-option [value]="3">3</mat-option>
        <mat-option [value]="4">4</mat-option>
      </mat-select>
    </mat-form-field>
  </section>

  <section mat-menu-item class="tile-move-actions">
    <button mat-button (click)="moveTileBackward()" [disabled]="!canMoveTileBackward()">
      <mat-icon>arrow_back</mat-icon>
      <span>Move earlier</span>
    </button>
    <button mat-button (click)="moveTileForward()" [disabled]="!canMoveTileForward()">
      <span>Move later</span>
      <mat-icon iconPositionEnd>arrow_forward</mat-icon>
    </button>
  </section>

  <button mat-menu-item type="button" (click)="openEditInDashboardManager($event)">
    <mat-icon>edit</mat-icon>
    <span>Edit in Dashboard manager</span>
  </button>

  @if (user.settings.dashboardSettings.tiles.length > 1) {
  <app-tile-actions-footer (delete)="deleteTile($event)"></app-tile-actions-footer>
  }
</mat-menu>
