<md-card>
  <md-card-header>
    <!--<div md-card-avatar class="example-header-image"></div>-->
    <md-card-title>
      <span class="mat-h1 text-truncate">{{ event.getName() }}</span>
    </md-card-title>
    <app-event-actions-menu [event]="event" align="end"></app-event-actions-menu>

    <md-card-subtitle>
      <span class="mat-h2">Distance: {{ (event.getDistanceInMeters()/1000).toFixed(1) }} km</span>
      <p class="mb-1">Duration: {{ event.getTotalDurationInSeconds() | amDuration:'seconds' }}</p>
      <p class="mb-1">{{ event.getFirstActivity().getStartDate() | date:'medium' }}</p>
    </md-card-subtitle>
  </md-card-header>

  <md-card-content>
    <agm-map
      style="height: 350px; width: 100%;"
      [fitBounds]="fitBounds()">
      <agm-polyline
        *ngFor="let activity of event.getActivities(); let i = index;"
        [strokeColor]="getActivityColor(i.toString())">
        <agm-polyline-point
          *ngFor="let point of event.getPointsWithPosition({activities: [activity]})"
          [latitude]="point.getPosition().latitudeDegrees"
          [longitude]="point.getPosition().longitudeDegrees">
        </agm-polyline-point>
      </agm-polyline>
    </agm-map>
  </md-card-content>
</md-card>
