<agm-map
  class=""
  style="height: 300px; width: 100%;"
  [zoom]="12"
  [fitBounds]=""
  [latitude]="getPointsWithPosition(event.getFirstActivity())[0].getPosition().latitudeDegrees"
  [longitude]="getPointsWithPosition(event.getFirstActivity())[0].getPosition().longitudeDegrees">

  <agm-polyline
    *ngFor="let activity of event.getActivities(); let i = index;"
    [strokeColor]="getActivityColor(i.toString())">

    <agm-polyline-point
      *ngFor="let point of getPointsWithPosition(activity);"
      [latitude]="point.getPosition().latitudeDegrees"
      [longitude]="point.getPosition().longitudeDegrees">
    </agm-polyline-point>

  </agm-polyline>

</agm-map>
