<md-sidenav-container class="mat-typography">

  <md-sidenav #sidenav opened mode="push">
    <app-sidenav></app-sidenav>
  </md-sidenav>

  <nav md-tab-nav-bar>

    <a md-tab-link (click)="sidenav.toggle()">{{ title }}</a>

    <a md-tab-link
       routerLink="/dashboard"
       routerLinkActive #dashboard="routerLinkActive"
       [active]="dashboard.isActive">Dashboard</a>

    <a md-tab-link
       routerLink="/upload"
       routerLinkActive #upload="routerLinkActive"
       [active]="upload.isActive">Upload</a>

    <a md-tab-link
       routerLink="/about"
       routerLinkActive #about="routerLinkActive"
       [active]="about.isActive">About</a>

  </nav>

  <router-outlet></router-outlet>

</md-sidenav-container>

<div class="fabButtonsVertical">

  <md-list>
    <md-list-item *ngFor="let actionButton of actionButtons.reverse()">
      <button type="button"  md-fab (click)="actionButton.action()">
        <md-icon *ngIf="actionButton.iconType === 'material'">{{ actionButton.icon }}</md-icon>
      </button>
    </md-list-item>
  </md-list>

</div>
