md-sidenav-container {
  min-height: 100vh;
}

md-sidenav{
  min-width: 300px;
  max-width: 300px;
  padding: 1vw;
  border-right: 1px solid rgba(0,0,0,.12);
}

.fabButtonsVertical {
  position: fixed;
  bottom: 2vh;
  right: 2vh;
}

