mat-sidenav-container {
  min-height: 100vh;
}

mat-card{
  margin: 0.5em;
}

.mat-tab-link{
  min-width: 5%;
  //padding-right: 1em;
  //font-size: 1.3em;
  //font-weight: 400;
}

mat-sidenav{
  min-width: 300px;
  max-width: 300px;
  //padding: 1vw;
  //border-right: 1px solid rgba(0,0,0,.12);
}

mat-icon{
  vertical-align: middle;
}

.icon-theme{
  font-size: 1.3em;
}

.fill-space {
  flex: 1 1 auto;
}

.right{
  margin-right: 1.0em;
}

mat-icon.larger_icon{
  //margin-right: 1em;
  padding: 0;
  font-size: 28px;
  height: 28px;
  width: 28px;
}

button{
  font-size: 1em;
}

.theme{
  margin: 0;
  padding: 0;
  margin-right: 0.5em;
}

.mat-tab-link{
}


nav button{
  margin-bottom: 6px;
  margin-top: 6px;
}

nav app-upload-activities{
  margin-bottom: 6px;
  margin-top: 6px;
}


nav{
  height: 59px;
  align-items: center;
}

