md-sidenav-container {
  height: 100vh;
}

md-sidenav{
  min-width: 250px;
  max-width: 250px;
  padding: 1vw;
  border-right: 1px solid rgba(0,0,0,.12);
}

.sideNavOpenButton {
  position: fixed;
  bottom: 2vh;
  right: 2vh;
}

