mat-card{
  padding: 0;
  min-height: calc(100vh - 48px);
}
mat-grid-list{
  min-height: calc(100vh - 48px);
}

button{
  height: 48px;
  min-width: 60%;
  /*width: 50%;*/
  max-width: 80%;

  text-align: left;
}

mat-icon{
  margin-right: 8px;
}

/*mat-icon.google-icon{*/
/*  background-color: #FFFFFF;*/
/*  height: 46px; width: 46px;*/
/*}*/
