<mat-card>
  <app-shade [isActive]="isLoading"></app-shade>
  <mat-grid-list [cols]="getColumnsToDisplayDependingOnScreenSize()" [rowHeight]="'fit'">
    <mat-grid-tile>
      <button mat-raised-button (click)="signInWithProvider(signInProviders.Anonymous)">
        <mat-icon>visibility</mat-icon>
        Sign in as guest
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button (click)="signInWithProvider(signInProviders.Google)">
        <mat-icon class="google-icon"
          svgIcon="google_logo_light"></mat-icon>
        <span style="font-family: 'Roboto' , 'QSFont'">Sign in with Google</span>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button  (click)="signInWithProvider(signInProviders.Facebook)">
        <mat-icon svgIcon="facebook_logo"></mat-icon>
        Sign in with Facebook
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button (click)="signInWithProvider(signInProviders.Twitter)">
        <mat-icon svgIcon="twitter_logo"></mat-icon>
        Sign in with Twitter
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button (click)="signInWithProvider(signInProviders.PhoneNumber)">
        <mat-icon>phonelink</mat-icon>
        Sign in with SMS
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button  (click)="signInWithProvider(signInProviders.GitHub)">
        <mat-icon svgIcon="github_logo"></mat-icon>
        Sign in with GitHub
      </button>
    </mat-grid-tile>
    <!--    <mat-grid-tile>-->
    <!--      <button mat-stroked-button color="primary" (click)="suuntoAppLogin()">Login with Suunto App<br/><span class="mat-small">if you have a Suunto App account</span></button>-->
    <!--    </mat-grid-tile>-->
  </mat-grid-list>
</mat-card>
