<section class="map-actions">
  <span [matTooltip]="user ? 'Map layers' : 'Sign in to use this'">
    <button mat-stroked-button class="layers-trigger" [matMenuTriggerFor]="layersMenu" [disabled]="!user"
      aria-label="Map layers">
      <mat-icon>layers</mat-icon>
      Layers
    </button>
  </span>
</section>

<mat-menu #layersMenu="matMenu" xPosition="before" class="qs-menu-panel">
  <button mat-menu-item [disabled]="!user" (click)="onMapStyleSelect('default')">
    <mat-icon>{{ mapStyle === 'default' ? 'radio_button_checked' : 'radio_button_unchecked' }}</mat-icon>
    <span>Default</span>
  </button>
  <button mat-menu-item [disabled]="!user" (click)="onMapStyleSelect('satellite')">
    <mat-icon>{{ mapStyle === 'satellite' ? 'radio_button_checked' : 'radio_button_unchecked' }}</mat-icon>
    <span>Satellite</span>
  </button>
  <button mat-menu-item [disabled]="!user" (click)="onMapStyleSelect('outdoors')">
    <mat-icon>{{ mapStyle === 'outdoors' ? 'radio_button_checked' : 'radio_button_unchecked' }}</mat-icon>
    <span>Outdoors</span>
  </button>
  <mat-divider></mat-divider>
  <section mat-menu-item>
    <mat-slide-toggle class="map-layer-toggle" [checked]="showLaps" [disabled]="!user"
      (change)="onShowLapsToggle($event.checked)">
      Show Laps
    </mat-slide-toggle>
  </section>
  <section mat-menu-item>
    <mat-slide-toggle class="map-layer-toggle" [checked]="showArrows" [disabled]="!user"
      (change)="onShowArrowsToggle($event.checked)">
      Show Arrows
    </mat-slide-toggle>
  </section>
  <section mat-menu-item>
    <mat-slide-toggle class="map-layer-toggle" [checked]="is3D" [disabled]="!user"
      (change)="onShow3DToggle($event.checked)">
      Enable 3D Terrain
    </mat-slide-toggle>
  </section>
</mat-menu>
