<section>
  <mat-slide-toggle [disabled]="!user" [color]="'accent'" (change)="checkBoxChanged($event)" [(ngModel)]="showLaps">
    <span [matTooltip]="user ? 'Show lap markers on map' : 'Sign in to use this'">
      Show Laps
    </span>
  </mat-slide-toggle>
  <mat-slide-toggle [disabled]="!user" [color]="'accent'" (change)="checkBoxChanged($event)" [(ngModel)]="showArrows">
    <span [matTooltip]="user ? 'Show direction arrows on route' : 'Sign in to use this'">
      Show Arrows
    </span>
  </mat-slide-toggle>
</section>