<section>
  <mat-button-toggle-group multiple class="qs-segmented-button-group" appearance="standard">
    <mat-button-toggle [checked]="showLaps" (change)="showLaps = $event.source.checked; checkBoxChanged($event)"
      [disabled]="!user" [matTooltip]="user ? 'Show lap markers on map' : 'Sign in to use this'">
      Show Laps
    </mat-button-toggle>
    <mat-button-toggle [checked]="showArrows" (change)="showArrows = $event.source.checked; checkBoxChanged($event)"
      [disabled]="!user" [matTooltip]="user ? 'Show direction arrows on route' : 'Sign in to use this'">
      Show Arrows
    </mat-button-toggle>
  </mat-button-toggle-group>
</section>