<form [formGroup]="searchFormGroup" (submit)="onSubmit()" autocomplete="off">
  <!--  <mat-form-field>-->
  <!--    <input matInput placeholder="Name" formControlName="search">-->
  <!--    <button mat-button *ngIf="this.searchFormGroup.get('search').value" matSuffix mat-icon-button aria-label="Clear"-->
  <!--            (click)="clear('search')">-->
  <!--      <mat-icon>close</mat-icon>-->
  <!--    </button>-->
  <!--    <mat-hint>Absolute name</mat-hint>-->
  <!--  </mat-form-field>-->


  <mat-form-field style="margin-right: 1em;">
    <input matInput [matDatepicker]="startDatepicker" (focus)="startDatepicker.open()" placeholder="From" formControlName="startDate">
    <mat-datepicker-toggle matSuffix [for]="startDatepicker">
    </mat-datepicker-toggle>
    <mat-datepicker #startDatepicker startView="month"></mat-datepicker>
<!--    <mat-hint>The start date</mat-hint>-->
    <mat-error *ngIf="hasError('startDate')">
      invalid date
    </mat-error>
  </mat-form-field>

  <mat-form-field >
    <input matInput [matDatepicker]="endDatepicker"  (focus)="endDatepicker.open()" placeholder="To" formControlName="endDate" >
    <mat-datepicker-toggle matSuffix [for]="endDatepicker">
    </mat-datepicker-toggle>
    <mat-datepicker #endDatepicker startView="month"></mat-datepicker>
<!--    <mat-hint>The end date</mat-hint>-->
    <mat-error *ngIf="hasError('endDate')">
      invalid date
    </mat-error>
  </mat-form-field>

  <button mat-button *ngIf="searchFormGroup.touched" (click)="reset()">reset</button>
  <button *ngIf="!hasError() && searchFormGroup.touched" mat-button color="primary" (click)="onSubmit()">search</button>
</form>
