<mat-dialog-content>
  <form *ngIf="activityFormGroup" [formGroup]="activityFormGroup" (submit)="onSubmit($event)"
        (keyup.enter)="onSubmit($event)">

    <app-shade [isActive]="isLoading"></app-shade>

    <span class="mat-headline">Editing activity</span>
    <mat-divider></mat-divider>

    <section  style="margin-top: 1em;">
      Type
      <mat-form-field>
        <mat-select placeholder="Type of the activity" formControlName="type">
          <mat-option *ngFor="let activityType of activityTypesArray" [value]="activityType">
            {{activityType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </section>

    <section>
      Device

      <mat-form-field>
        <input matInput placeholder="Device name" type="text" [min]="3" [max]="20" formControlName="creatorName">
        <mat-hint>How would you label/name this device that the activity was made with</mat-hint>
        <mat-error *ngIf="hasError('creatorName')">
          invalid name
        </mat-error>
      </mat-form-field>
    </section>


    <section>
      Date
      <mat-form-field>
        <input matInput [matDatepicker]="startDate" (click)="startDate.open()" placeholder="Start Date"
               (dateChange)="onStartDateAndStartTimeChange($event)"
               formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
        <mat-error *ngIf="hasError('startDate')">
          invalid start date
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Start Time" type="time" formControlName="startTime" step="1"
               (change)="onStartDateAndStartTimeChange($event)">
        <mat-error *ngIf="hasError('startTime')">
          invalid start time
        </mat-error>
      </mat-form-field>


      <mat-form-field>
        <input matInput [matDatepicker]="endDate" (click)="endDate.open()" placeholder="End Date"
               formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
        <mat-error *ngIf="hasError('endDate')">
          invalid end date
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="End Time" type="time" formControlName="endTime" step="1">
        <mat-error *ngIf="hasError('endTime')">
          invalid end time
        </mat-error>
      </mat-form-field>

    </section>

    <section>
      Stats
      <mat-form-field *ngIf="activityFormGroup.get('ascent')">
        <input matInput placeholder="Ascent" type="number" formControlName="ascent">
        <span matSuffix="">m &nbsp;</span>
        <mat-error *ngIf="hasError('ascent')">
          invalid ascent
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="activityFormGroup.get('descent')">
        <input matInput placeholder="Descent" type="number" formControlName="descent">
        <span matSuffix="">m &nbsp;</span>
        <mat-error *ngIf="hasError('descent')">
          invalid descent
        </mat-error>
      </mat-form-field>
      <mat-form-field *ngIf="activityFormGroup.get('distance')">
        <input matInput placeholder="Distance" type="number" formControlName="distance">
        <span matSuffix="">m &nbsp;</span>
        <mat-error *ngIf="hasError('distance')">
          invalid distance
        </mat-error>
      </mat-form-field>
    </section>

    <mat-error class="generic-form-error" *ngIf="hasError()">Something does not seem logical above 🤔</mat-error>

    <button mat-stroked-button (click)="close($event)">Cancel</button>
    <button mat-flat-button color="primary" (click)="onSubmit($event)" *ngIf="!hasError()">Save</button>
  </form>


</mat-dialog-content>
