/* Global .qs-form styles handle width and spacing now. */
.radio-container {
  margin-bottom: 1em;
}

.mat-radio-button {
  margin-top: 1em;
  margin-right: 1em;
}


.generic-form-error {
  margin-top: 1.5em;
}