<mat-dialog-content>


  <form *ngIf="activityFormGroup" [formGroup]="activityFormGroup" (submit)="onSubmit($event)"
        (keyup.enter)="onSubmit($event)">

    <app-shade [isActive]="isLoading"></app-shade>

    <span class="mat-headline">Editing activity</span>
    <span class="mat-subheader">internal id {{ activity.getID() }}</span>

    <mat-form-field>
      <input matInput placeholder="Device name" type="text" [min]="3" [max]="20" formControlName="creatorName">
      <mat-hint>How would you label/name this device that the activity was made with</mat-hint>
      <mat-error *ngIf="hasError('creatorName')">
        invalid name
      </mat-error>
    </mat-form-field>

    Date
    <mat-form-field>
      <input matInput [matDatepicker]="startDate" (click)="startDate.open()" placeholder="Start Date" (dateChange)="onStartDateAndStartTimeChange($event)"
             formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
      <mat-hint>The start date of the activity</mat-hint>
      <mat-error *ngIf="hasError('startDate')">
        invalid start date
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Start Time" type="time" formControlName="startTime" step="1" (change)="onStartDateAndStartTimeChange($event)">
      <mat-hint>Start time</mat-hint>
      <mat-error *ngIf="hasError('startTime')">
        invalid start time
      </mat-error>
    </mat-form-field>


    <mat-form-field>
      <input matInput [matDatepicker]="endDate" (click)="endDate.open()" placeholder="End Date"
             formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
      <mat-hint>The end date of the activity</mat-hint>
      <mat-error *ngIf="hasError('endDate')">
        invalid end date
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="End Time" type="time" formControlName="endTime" step="1">
      <mat-hint>End time</mat-hint>
      <mat-error *ngIf="hasError('endTime')">
        invalid end time
      </mat-error>
    </mat-form-field>


    <!-- End Date -->
    <!--<mat-form-field>-->
    <!--<input matInput [matDatepicker]="endDate" placeholder="End Date" formControlName="endDate"-->
    <!--[(ngModel)]="activity.endDate">-->
    <!--<mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>-->
    <!--<mat-datepicker #endDate></mat-datepicker>-->
    <!--<mat-hint>The end date of the activity</mat-hint>-->
    <!--<mat-error *ngIf="hasError('startDate')">-->
    <!--invalid date-->
    <!--</mat-error>-->
    <!--</mat-form-field>-->

    <!-- Start Distance -->

    <section *ngIf="hasDistance()">
      Distance
      <mat-form-field>
        <input matInput placeholder="Starting distance" type="number" formControlName="startDistance">
        <span matSuffix="">m &nbsp;</span>
        <mat-hint>The starting distance of the activity</mat-hint>
        <mat-error *ngIf="hasError('startDistance')">
          invalid distance
        </mat-error>
      </mat-form-field>

      <!-- End Distance -->
      <mat-form-field>
        <input matInput placeholder="End distance" type="number" formControlName="endDistance">
        <span matSuffix="">m &nbsp;</span>
        <mat-hint>The ending distance of the activity</mat-hint>
        <mat-error *ngIf="hasError('endDistance')">
          invalid distance
        </mat-error>
      </mat-form-field>
      <mat-hint><b>Note</b>: Changing the start or end distance will recreate all statistics for the selected activity
      </mat-hint>
    </section>

    <mat-error class="generic-form-error" *ngIf="hasError()">Something does not seem logical above 🤔</mat-error>


    <button mat-stroked-button (click)="close($event)">Cancel</button>
    <button mat-flat-button color="primary" (click)="onSubmit($event)" *ngIf="!hasError()">Save</button>
  </form>


</mat-dialog-content>
