section.map-actions {
  display: flex;
  justify-content: flex-end;
}

section.map-actions > span > button[mat-stroked-button] {
  border-radius: 10px !important;
}

.map-layer-toggle {
  width: 100%;
}
