<section class="map-actions">
  <span [matTooltip]="user ? 'Map layers' : 'Sign in to use this'">
    <button mat-icon-button type="button"
      class="qs-action-menu-icon-button map-actions__icon-button"
      [matMenuTriggerFor]="menuPanel.menu" [disabled]="!user || disabled"
      aria-label="Map layers">
      <mat-icon>layers</mat-icon>
    </button>
  </span>
</section>
<app-map-layers-menu-panel #menuPanel
  [user]="user"
  [disabled]="disabled"
  [mapStyle]="mapStyle"
  [is3D]="is3D"
  [showJumpHeatmap]="showJumpHeatmap"
  [showLaps]="showLaps"
  [showArrows]="showArrows"
  [enableJumpHeatmapToggle]="enableJumpHeatmapToggle"
  [enableLapsToggle]="enableLapsToggle"
  [enableArrowsToggle]="enableArrowsToggle"
  [enable3DToggle]="enable3DToggle"
  [analyticsEventName]="analyticsEventName"
  (mapStyleChange)="mapStyleChange.emit($event)"
  (is3DChange)="is3DChange.emit($event)"
  (showJumpHeatmapChange)="showJumpHeatmapChange.emit($event)"
  (showLapsChange)="showLapsChange.emit($event)"
  (showArrowsChange)="showArrowsChange.emit($event)">
</app-map-layers-menu-panel>
