<mat-card *ngIf="event" class="outer">

  <app-event-header
    [event]="event"
    [user]='currentUser'
    [isOwner]="currentUser && (currentUser.uid === targetUserID)">
  </app-event-header>
  <mat-divider [inset]="true"></mat-divider>

  <!-- todo move to own compoenent and should be visible only if more than one activity the toggle groups-->
  <mat-card class="mat-elevation-z0" style="padding-bottom: 0;" *ngIf="event.getActivities().length > 1">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>edit_attributes</mat-icon>
      </div>
      <mat-card-subtitle>
        <app-activities-toggle-groups [activities]="event.getActivities()"></app-activities-toggle-groups>
        <!--      <mat-divider [inset]="false"></mat-divider>-->
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card class="mat-elevation-z0" style="padding-bottom: 0;"
            [ngStyle]="{'padding-top': event.getActivities().length > 1 ? '0' : '1em'}">
    <mat-card-subtitle>
      <app-header-stats
        [statsToShow]="statsToShow"
        [stats]="stats">
      </app-header-stats>
    </mat-card-subtitle>
  </mat-card>

  <!--  <mat-divider [inset]="true"></mat-divider>-->

  <mat-card  class="mat-elevation-z0" style="padding-bottom: 0;">
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header style="padding: 0 16px; padding-right: 32px;">
          <!--        <mat-panel-title style="font-size: 1.1em">-->
          <!--            <span><mat-icon style="vertical-align: bottom;">insert_chart</mat-icon>-->
          <!--            Summaries</span>-->
          <!--        </mat-panel-title>-->
          <mat-panel-title>
            <mat-icon>view_column</mat-icon>
          </mat-panel-title>
          <mat-panel-description style="align-items: flex-end;">
            Detailed statistics
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-event-card-stats
          [selectedActivities]="selectedActivities"
          [userUnitSettings]="currentUser ? currentUser.settings.unitSettings : null"
          [event]="event">
        </app-event-card-stats>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-divider [inset]="true"></mat-divider>
  </mat-card>


  <!--  <mat-card class="mat-elevation-z0">-->
  <!--    &lt;!&ndash; Activity details &ndash;&gt;-->
  <!--    <mat-card-header *ngFor="let activity of event.getActivities()">-->
  <!--      <div mat-card-avatar>-->
  <!--        <mat-icon>visibility</mat-icon>-->
  <!--      </div>-->
  <!--      <mat-card-title style="font-size: 1.2em;">-->
  <!--        <b>{{ activity.type }}</b>&nbsp;-->
  <!--        <span>-->
  <!--          <b>{{ activity.getDistance().getDisplayValue() }}</b>-->
  <!--          {{ activity.getDistance().getDisplayUnit() }}-->
  <!--        </span>-->
  <!--      </mat-card-title>-->
  <!--      <mat-card-subtitle>-->
  <!--         <span>-->
  <!--           <b>{{ activity.getDuration().getDisplayValue() }}</b>-->
  <!--         </span>-->
  <!--      </mat-card-subtitle>-->
  <!--      <app-activity-actions *ngIf="isOwner()" [user]="currentUser" [event]="event"-->
  <!--                            [activity]="activity" align="end"></app-activity-actions>-->
  <!--    </mat-card-header>-->
  <!--    <mat-accordion>-->
  <!--      <mat-expansion-panel class="mat-elevation-z0">-->
  <!--        <mat-expansion-panel-header>-->
  <!--          <mat-panel-title style="font-size: 1.1em">-->
  <!--            <span><mat-icon style="vertical-align: bottom;">insert_chart</mat-icon>-->
  <!--            Summaries</span>-->
  <!--          </mat-panel-title>-->
  <!--          <mat-panel-description>-->
  <!--            Tap to expand-->
  <!--          </mat-panel-description>-->
  <!--        </mat-expansion-panel-header>-->
  <!--        <app-event-card-statsToShow-->
  <!--          [selectedActivities]="selectedActivities"-->
  <!--          [userUnitSettings]="currentUser ? currentUser.settings.unitSettings : null"-->
  <!--          [event]="event">-->
  <!--        </app-event-card-statsToShow>-->
  <!--      </mat-expansion-panel>-->
  <!--    </mat-accordion>-->
  <!--    <mat-divider></mat-divider>-->

  <!--  </mat-card>-->
  <mat-card class="mat-elevation-z0">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>map</mat-icon>
      </div>
      <!--      <mat-card-title>Map</mat-card-title>-->
      <!--      <mat-card-subtitle>What to put here ?</mat-card-subtitle>-->

      <mat-card-subtitle>
      </mat-card-subtitle>
      <app-map-actions
        [(showLaps)]="showMapLaps"
        [(showArrows)]="showMapArrows"
        [user]="currentUser"
        align="end">
      </app-map-actions>
    </mat-card-header>
    <app-event-card-map
      *ngIf="event && targetUserID"
      [selectedActivities]="selectedActivities"
      [targetUserID]="targetUserID"
      [user]="currentUser"
      [event]="event"
      [showLaps]="showMapLaps"
      [lapTypes]="mapLapTypes"
      [showArrows]="showMapArrows"
      [strokeWidth]="mapStrokeWidth"
      [theme]="mapTheme">
    </app-event-card-map>
  </mat-card>

  <!--  <mat-card class="mat-elevation-z1 inner">-->
  <!--    <mat-card-header *ngFor="let activity of event.getActivities()">-->
  <!--      <mat-card-title>-->
  <!--        <b>{{ activity.type }}</b>&nbsp;-->
  <!--        <span>-->
  <!--          <b>{{ activity.getDistance().getDisplayValue() }}</b>-->
  <!--          {{ activity.getDistance().getDisplayUnit() }}-->
  <!--        </span>-->
  <!--      </mat-card-title>-->
  <!--      <mat-card-subtitle>-->
  <!--         <span>-->
  <!--           <b>{{ activity.getDuration().getDisplayValue() }}</b>-->
  <!--         </span>-->

  <!--      </mat-card-subtitle>-->
  <!--      <div mat-card-avatar>-->
  <!--        <app-activity-actions *ngIf="isOwner()" [user]="currentUser" [event]="event"-->
  <!--                              [activity]="activity"></app-activity-actions>-->
  <!--      </div>-->
  <!--    </mat-card-header>-->
  <!--    <mat-card-content>-->
  <!--      <app-event-card-statsToShow-->
  <!--        [selectedActivities]="selectedActivities"-->
  <!--        [userUnitSettings]="currentUser ? currentUser.settings.unitSettings : null"-->
  <!--        [event]="event">-->
  <!--      </app-event-card-statsToShow>-->
  <!--    </mat-card-content>-->

  <!--    <mat-card-content>-->
  <!--      <app-activities-checkboxes *ngIf="event.getActivities().length > 1" [showActions]="isOwner()" [user]="currentUser"-->
  <!--                                 [event]="event" [(selectedActivities)]="selectedActivities">-->
  <!--      </app-activities-checkboxes>-->
  <!--      <app-activity-header-->
  <!--        *ngIf="event.getActivities().length === 1"-->
  <!--        [user]="currentUser"-->
  <!--        [showIcon]="true"-->
  <!--        [event]="event"-->
  <!--        [activity]="selectedActivities[0]"-->
  <!--        [showType]="true"-->
  <!--        [showActions]="isOwner()"-->
  <!--        [showDistance]="true"-->
  <!--        [showSerialNumber]="true"-->
  <!--        [showSWInfo]="true"-->
  <!--        [showDuration]="true">-->
  <!--      </app-activity-header>-->
  <!--    </mat-card-content>-->
  <!--  </mat-card>-->

  <!--  <mat-card class="mat-elevation-z1 inner">-->
  <!--    <mat-card-header>-->
  <!--      <div mat-card-avatar>-->
  <!--        <mat-icon>map</mat-icon>-->
  <!--      </div>-->
  <!--      <mat-card-title>Title</mat-card-title>-->
  <!--      <mat-card-subtitle>Subtitle</mat-card-subtitle>-->
  <!--      <app-map-actions-->
  <!--        [(showLaps)]="showMapLaps"-->
  <!--        [(showArrows)]="showMapArrows"-->
  <!--        [user]="currentUser"-->
  <!--        align="end">-->
  <!--      </app-map-actions>-->
  <!--    </mat-card-header>-->
  <!--    <app-event-card-map-->
  <!--      *ngIf="event && targetUserID"-->
  <!--      [selectedActivities]="selectedActivities"-->
  <!--      [targetUserID]="targetUserID"-->
  <!--      [user]="currentUser"-->
  <!--      [event]="event"-->
  <!--      [showLaps]="showMapLaps"-->
  <!--      [lapTypes]="mapLapTypes"-->
  <!--      [showArrows]="showMapArrows"-->
  <!--      [strokeWidth]="mapStrokeWidth"-->
  <!--      [theme]="mapTheme">-->
  <!--    </app-event-card-map>-->
  <!--  </mat-card>-->
  <mat-card class="mat-elevation-z0 inner">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>show_chart</mat-icon>
      </div>
      <mat-card-title>Title</mat-card-title>
      <mat-card-subtitle>Subtitle</mat-card-subtitle>
      <app-event-card-chart-actions
        [(xAxisType)]="chartXAxisType"
        [(showAllData)]="showAllData"
        [(showLaps)]="showChartLaps"
        [(stackYAxes)]="stackChartYAxes"
        [(showGrid)]="showChartGrid"
        [user]="currentUser"
        align="end">
      </app-event-card-chart-actions>
    </mat-card-header>
    <mat-card-content>
      <app-event-card-chart
        [showAllData]="showAllData"
        [showLaps]="showChartLaps"
        [useAnimations]="useChartAnimations"
        [disableGrouping]="chartDisableGrouping"
        [gainAndLossThreshold]="chartGainAndLossThreshold"
        [stackYAxes]="stackChartYAxes"
        [showGrid]="showChartGrid"
        [lapTypes]="chartLapTypes"
        [xAxisType]="chartXAxisType"
        [strokeWidth]="chartStrokeWidth"
        [strokeOpacity]="chartStrokeOpacity"
        [fillOpacity]="chartFillOpacity"
        [selectedActivities]="selectedActivities"
        [targetUserID]="targetUserID"
        [dataTypesToUse]="chartDataTypesToUse"
        [userUnitSettings]="currentUser ? currentUser.settings.unitSettings : null"
        [downSamplingLevel]="chartDownSamplingLevel"
        [chartCursorBehaviour]="chartCursorBehaviour"
        [chartTheme]="chartTheme"
        [waterMark]="currentUser ? currentUser.brandText : null"
        [event]="event">
      </app-event-card-chart>
    </mat-card-content>
  </mat-card>
  <mat-card class="mat-elevation-z1 inner">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>linear_scale</mat-icon>
      </div>
      <mat-card-title>Laps</mat-card-title>
      <mat-card-subtitle>Subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-event-card-laps
        [selectedActivities]="selectedActivities"
        [event]="event">
      </app-event-card-laps>
    </mat-card-content>
  </mat-card>

  <!--<mat-card *ngIf="event">-->
  <!--  <mat-card-header>-->
  <!--    <app-event-actions *ngIf="isOwner()" [user]="currentUser" [event]="event" align="end"></app-event-actions>-->
  <!--    <mat-card-subtitle>-->
  <!--      <app-privacy-icon [privacy]="event.privacy" (click)="toggleEventPrivacy()"></app-privacy-icon>-->
  <!--      <span class="mat-body-2"> {{ event.name.slice(0, 70) }}</span>-->
  <!--    </mat-card-subtitle>-->
  <!--    <mat-card-subtitle>-->
  <!--      <mat-icon>access_time</mat-icon>-->
  <!--      {{ event.startDate | date:'medium' }}-->
  <!--    </mat-card-subtitle>-->
  <!--    <mat-card-subtitle>-->
  <!--      <app-activities-checkboxes *ngIf="event.getActivities().length > 1" [showActions]="isOwner()" [user]="currentUser"-->
  <!--                                 [event]="event" [(selectedActivities)]="selectedActivities">-->
  <!--      </app-activities-checkboxes>-->
  <!--      <app-activity-header-->
  <!--        *ngIf="event.getActivities().length === 1"-->
  <!--        [user]="currentUser"-->
  <!--        [showIcon]="true"-->
  <!--        [event]="event"-->
  <!--        [activity]="selectedActivities[0]"-->
  <!--        [showType]="true"-->
  <!--        [showActions]="isOwner()"-->
  <!--        [showDistance]="true"-->
  <!--        [showSerialNumber]="true"-->
  <!--        [showSWInfo]="true"-->
  <!--        [showDuration]="true">-->
  <!--      </app-activity-header>-->
  <!--    </mat-card-subtitle>-->
  <!--  </mat-card-header>-->

  <!--  <mat-card-content>-->
  <!--    <mat-tab-group animationDuration="500ms"-->
  <!--      [dynamicHeight]="true"-->
  <!--      [selectedIndex]="tabIndex"-->
  <!--      (selectedIndexChange)="router.navigate(['/user', targetUserID, 'event', event.getID()], {queryParams: { tabIndex: $event}} )">-->
  <!--      <mat-tab label="Map">-->
  <!--        <ng-template matTabLabel>-->
  <!--          <mat-icon>map</mat-icon>-->
  <!--          <app-map-actions-->
  <!--            [(showLaps)]="showMapLaps"-->
  <!--            [(showArrows)]="showMapArrows"-->
  <!--            [user]="currentUser"-->
  <!--            align="end">-->
  <!--          </app-map-actions>-->
  <!--        </ng-template>-->
  <!--        <ng-template matTabContent>-->

  <!--        <app-event-card-map-->
  <!--          [selectedActivities]="selectedActivities"-->
  <!--          [targetUserID]="targetUserID"-->
  <!--          [user]="currentUser"-->
  <!--          [event]="event"-->
  <!--          [showLaps]="showMapLaps"-->
  <!--          [lapTypes]="mapLapTypes"-->
  <!--          [showArrows]="showMapArrows"-->
  <!--          [strokeWidth]="mapStrokeWidth"-->
  <!--          [theme]="mapTheme">-->
  <!--        </app-event-card-map>-->
  <!--        </ng-template>-->
  <!--      </mat-tab>-->
  <!--      <mat-tab label="Stats">-->
  <!--        <ng-template matTabLabel>-->
  <!--          <mat-icon>insert_chart</mat-icon>-->
  <!--        </ng-template>-->
  <!--        <app-event-card-statsToShow-->
  <!--          [selectedActivities]="selectedActivities"-->
  <!--          [userUnitSettings]="currentUser ? currentUser.settings.unitSettings : null"-->
  <!--          [event]="event">-->
  <!--        </app-event-card-statsToShow>-->
  <!--      </mat-tab>-->
  <!--      <mat-tab label="Chart">-->
  <!--        <ng-template matTabLabel>-->
  <!--          <mat-icon>show_chart</mat-icon>-->
  <!--          <app-event-card-chart-actions-->
  <!--            [(xAxisType)]="chartXAxisType"-->
  <!--            [(showAllData)]="showAllData"-->
  <!--            [(showLaps)]="showChartLaps"-->
  <!--            [(stackYAxes)]="stackChartYAxes"-->
  <!--            [(showGrid)]="showChartGrid"-->
  <!--            [user]="currentUser"-->
  <!--            align="end">-->
  <!--          </app-event-card-chart-actions>-->
  <!--        </ng-template>-->
  <!--        <ng-template matTabContent>-->
  <!--          <app-event-card-chart-->
  <!--            [showAllData]="showAllData"-->
  <!--            [showLaps]="showChartLaps"-->
  <!--            [useAnimations]="useChartAnimations"-->
  <!--            [disableGrouping]="chartDisableGrouping"-->
  <!--            [gainAndLossThreshold]="chartGainAndLossThreshold"-->
  <!--            [stackYAxes]="stackChartYAxes"-->
  <!--            [showGrid]="showChartGrid"-->
  <!--            [lapTypes]="chartLapTypes"-->
  <!--            [xAxisType]="chartXAxisType"-->
  <!--            [strokeWidth]="chartStrokeWidth"-->
  <!--            [strokeOpacity]="chartStrokeOpacity"-->
  <!--            [fillOpacity]="chartFillOpacity"-->
  <!--            [selectedActivities]="selectedActivities"-->
  <!--            [targetUserID]="targetUserID"-->
  <!--            [dataTypesToUse]="chartDataTypesToUse"-->
  <!--            [userUnitSettings]="currentUser ? currentUser.settings.unitSettings : null"-->
  <!--            [downSamplingLevel]="chartDownSamplingLevel"-->
  <!--            [chartCursorBehaviour]="chartCursorBehaviour"-->
  <!--            [chartTheme]="chartTheme"-->
  <!--            [waterMark]="currentUser ? currentUser.brandText : null"-->
  <!--            [event]="event">-->
  <!--          </app-event-card-chart>-->
  <!--        </ng-template>-->
  <!--      </mat-tab>-->
  <!--      <mat-tab label="Laps" *ngIf="hasLaps(event)">-->
  <!--        <ng-template matTabLabel>-->
  <!--          <mat-icon>linear_scale</mat-icon>-->
  <!--        </ng-template>-->
  <!--        <app-event-card-laps-->
  <!--          [selectedActivities]="selectedActivities"-->
  <!--          [event]="event">-->
  <!--        </app-event-card-laps>-->
  <!--      </mat-tab>-->
  <!--      <mat-tab label="Devices" *ngIf="hasDevices(event)">-->
  <!--        <ng-template matTabLabel>-->
  <!--          <mat-icon>leak_add</mat-icon>-->
  <!--        </ng-template>-->
  <!--        <app-event-card-devices-->
  <!--          [selectedActivities]="selectedActivities"-->
  <!--          [event]="event">-->
  <!--        </app-event-card-devices>-->
  <!--      </mat-tab>-->
  <!--      &lt;!&ndash;      <mat-tab label="Tools">&ndash;&gt;-->
  <!--      &lt;!&ndash;        <ng-template matTabLabel>&ndash;&gt;-->
  <!--      &lt;!&ndash;          <mat-icon>build</mat-icon>&ndash;&gt;-->
  <!--      &lt;!&ndash;        </ng-template>&ndash;&gt;-->
  <!--      &lt;!&ndash;        <app-event-card-tools *ngIf="currentUser" [selectedActivities]="selectedActivities" [event]="event" [targetUserID]="targetUserID"></app-event-card-tools>&ndash;&gt;-->
  <!--      &lt;!&ndash;      </mat-tab>&ndash;&gt;-->
  <!--    </mat-tab-group>-->
  <!--  </mat-card-content>-->
  <!--</mat-card>-->

</mat-card>
