<md-card [class.selected]="classActive">
  <md-card-header>
    <div mdCardAvatar>
      <div class="card-avatar-container">
        <md-icon>star_border</md-icon>
        <md-icon class="" *ngIf="event.getFirstActivity().getType() && event.getFirstActivity().getType().toLowerCase() === 'running'" >directions_run</md-icon>
        <md-icon class="" *ngIf="event.getFirstActivity().getType() && event.getFirstActivity().getType().toLowerCase() === 'biking'" >directions_bike</md-icon>
        <md-icon class="" *ngIf="event.getFirstActivity().getType() && event.getFirstActivity().getType().toLowerCase() === 'swimming'" >pool</md-icon>
      </div>
    </div>
    <md-card-title>
      {{ event.getName() }}
    </md-card-title>

    <app-event-card-actions-menu [event]="event" align="end"></app-event-card-actions-menu>

    <md-card-subtitle>
      {{ event.getFirstActivity().getStartDate() | date:'short' }}
    </md-card-subtitle>

  </md-card-header>

  <md-card-content>
    <span class="mat-body-2">{{ event.getActivities().length }}</span> activities of total
    <span class="mat-body-2">{{ (event.getDistanceInMeters()/1000).toFixed(1) }}</span> km
    in about
    <span class="mat-body-2">{{ event.getTotalDurationInSeconds() | amDuration:'seconds' }}</span>
    <span *ngIf="geoLocationInfo">
      nearby
      <span class="mat-body-2">{{ geoLocationInfo.city }},</span>
      <span class="mat-body-2">{{ geoLocationInfo.country }}</span>.
    </span>
  </md-card-content>
  <md-card-actions>
    <a md-button [routerLink]="['/dashboard']"
       [queryParams]="{ eventID: event.getID() }">Details</a>
  </md-card-actions>
</md-card>
