<md-card [class.selected]="classActive">
  <md-card-header>
    <!--<div md-card-avatar class="example-header-image"></div>-->
    <md-card-title>
      {{ event.getName() }}
    </md-card-title>
    <md-card-subtitle>
      {{ event.getFirstActivity().getStartDate() | date:'short' }}
    </md-card-subtitle>

  </md-card-header>

  <md-card-content>
    {{ (event.getDistanceInMeters()/1000).toFixed(1) }} km in
    {{ event.getTotalDurationInSeconds() | amDuration:'seconds' }}
  </md-card-content>
  <md-card-actions>
    <a md-button [routerLink]="['/dashboard']"
       [queryParams]="{ eventID: event.getID() }">Details</a>
  </md-card-actions>
</md-card>
