mat-card {
  /*margin: 0;*/
  padding: 16px 0 0;
  min-height: calc(30vh);
}

mat-card-header mat-icon {
  vertical-align: middle;
}

::ng-deep .mat-card-header-text{
  width: 100%;
  /*margin: 0;*/
}

.title {
  display: flex;
  align-content: center;
  align-items: center;
}

mat-chip-list {
  display: inline-block;
}
