<md-card>
  <md-card-header>
    <!--<div md-card-avatar class="example-header-image"></div>-->
    <md-card-title>
      {{ event.getName() }}
    </md-card-title>
    <app-event-card-actions-menu [event]="event" align="end"></app-event-card-actions-menu>

    <md-card-subtitle>
      {{ event.getFirstActivity().getStartDate() | date:'medium' }}
    </md-card-subtitle>
    <md-card-subtitle>
      {{ (event.getDistanceInMeters()/1000).toFixed(1) }} km in about {{ event.getTotalDurationInSeconds() | amDuration:'seconds' }}
    </md-card-subtitle>
  </md-card-header>


  <md-card-content>

    <md-tab-group [dynamicHeight]="true" [selectedIndex]="selectedTabIndex" (selectedIndexChange)="selectedTabIndexChange($event)">
      <md-tab label="Map" *ngIf="event.getPointsWithPosition().length > 0"> <!-- todo check performance on if -->
          <app-event-card-map
            [event]="event" [resize]="selectedTabIndex === 0">
          </app-event-card-map>
      </md-tab>
      <md-tab label="Stats">
        <app-event-card-stats
          [event]="event">
        </app-event-card-stats>
      </md-tab>
      <md-tab label="Chart">
        <app-event-card-chart *ngIf="selectedTabIndex === 2" [event]="event">
        </app-event-card-chart>
      </md-tab>
      <md-tab label="Laps" *ngIf="event.getLaps().length > 0">
        <app-event-card-laps [event]="event">
        </app-event-card-laps>
      </md-tab>
    </md-tab-group>

  </md-card-content>
</md-card>
