mat-card {
  margin: 1%;
  width: 250px;
}

mat-card-content {
}

mat-card-title{
  text-overflow: ellipsis;
}

.selected {
  background-color: darkgray;
}

.card-avatar-container {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}
