<mat-card [class.selected]="classActive">
  <mat-card-header>
    <div matCardAvatar>
      <div class="card-avatar-container">
        <app-activity-icon [activity]="activity" *ngFor="let activity of event.getActivities()">
        </app-activity-icon>
      </div>
    </div>
    <mat-card-title>
      {{ event.name.slice(0, 20) }}
    </mat-card-title>

    <app-event-card-actions-menu [event]="event" align="end"></app-event-card-actions-menu>

    <mat-card-subtitle>
      {{ event.getFirstActivity().startDate | date:'short' }}
    </mat-card-subtitle>

  </mat-card-header>

  <mat-card-content>
    <span class="mat-body-2">{{ event.getActivities().length }}</span> activities of total
    <span class="mat-body-2">{{ (event.getDistance().getValue()/1000).toFixed(1) }}</span> km
    in about
    <span class="mat-body-2">{{ event.getDuration().getValue() | amDuration:'seconds' }}</span>
    <span *ngIf="event.getFirstActivity().geoLocationInfo">
      nearby
      <span class="mat-body-2">{{ event.getFirstActivity().geoLocationInfo.city }},</span>
      <span class="mat-body-2">{{ event.getFirstActivity().geoLocationInfo.country }}</span>.
    </span>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button [routerLink]="['/dashboard']"
       [queryParams]="{ eventID: event.getID(), tabIndex: 0 }">Details</a>
  </mat-card-actions>
</mat-card>
