<mat-card *ngIf="event">
  <mat-card-header>
    <app-event-actions [event]="event" align="end"></app-event-actions>
    <mat-card-subtitle>
      <app-activity-icon
        [activity]="event.getFirstActivity()"
        *ngIf="event.getActivities().length === 1 ">
      </app-activity-icon>
      <mat-icon *ngIf="event.getActivities().length > 1 ">
        compare_arrows
      </mat-icon>
      <span class="mat-body-2">{{ event.name.slice(0, 70) }}</span>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <mat-icon>access_time</mat-icon>
      From
      <span class="mat-body-2">{{ event.startDate | date:'medium' }}</span>
      to
      <span class="mat-body-2">{{ event.endDate | date:'medium' }}</span>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <mat-icon>filter_{{ event.getActivities().length }}</mat-icon>
      Activities of total
      <span class="mat-body-2">{{ (event.getDistance().getValue()/1000).toFixed(2) }}</span> km
      in
      <span class="mat-body-2">{{ event.getDuration().getDisplayValue() }}</span>
      with a pause of
      <span class="mat-body-2">{{ event.getPause().getDisplayValue() }}</span>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <span *ngIf="event.getFirstActivity().geoLocationInfo">
        <mat-icon>place</mat-icon>
        <span class="mat-body-2" *ngIf="event.getFirstActivity().geoLocationInfo.city">{{ event.getFirstActivity().geoLocationInfo.city }}, </span>
        <span *ngIf="event.getFirstActivity().geoLocationInfo.province">{{ event.getFirstActivity().geoLocationInfo.province }}, </span>
        <span *ngIf="event.getFirstActivity().geoLocationInfo.country">{{ event.getFirstActivity().geoLocationInfo.country }}</span>
      </span>
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="event.getFirstActivity().weather
    && event.getFirstActivity().weather.weatherItems.length
    && event.getFirstActivity().weather.getAverageTemperatureInCelsius() ">
      <mat-icon>terrain</mat-icon>
      <span
        class="mat-body-2">{{ event.getFirstActivity().weather.getAverageTemperatureInCelsius().toFixed(0) }}c</span>
      and
      <span class="mat-body-2">{{event.getFirstActivity().weather.weatherItems[0].conditions }}</span>
      conditions
    </mat-card-subtitle>
    <mat-card-subtitle>
      <app-activities-checkboxes [event]="event" [(selectedActivities)]="selectedActivities">
      </app-activities-checkboxes>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-tab-group
      [dynamicHeight]="true"
      [selectedIndex]="selectedTabIndex"
      (selectedIndexChange)="router.navigate(['/eventDetails'], {queryParams: {eventID: event.getID(), tabIndex: $event}})">
      <mat-tab #matTab label="Map">
        <ng-template matTabLabel>
          <mat-icon>map</mat-icon>
          <app-map-actions
            [(showAutoLaps)]="showMapAutoLaps"
            [(showManualLaps)]="showMapManualLaps"
            [(showDataWarnings)]="showMapDataWarnings"
            [(showData)]="showData"
            align="end">
          </app-map-actions>
        </ng-template>
        <app-event-card-map-agm
          [isVisible]="matTab.isActive"
          [showAutoLaps]="showMapAutoLaps"
          [showManualLaps]="showMapManualLaps"
          [showDataWarnings]="showMapDataWarnings"
          [showData]="showData"
          [selectedActivities]="selectedActivities"
          [event]="event"></app-event-card-map-agm>
      </mat-tab>
      <mat-tab label="Stats">
        <ng-template matTabLabel>
          <mat-icon>insert_chart</mat-icon>
        </ng-template>
        <app-event-card-stats
          [selectedActivities]="selectedActivities"
          [event]="event">
        </app-event-card-stats>
      </mat-tab>
      <mat-tab #matTab label="Chart">
        <ng-template matTabLabel>
          <mat-icon>show_chart</mat-icon>
          <app-chart-actions
            [(useDistanceAxis)]="useDistanceAxis"
            align="end">
          </app-chart-actions>
        </ng-template>
        <app-event-card-chart-new
          [isVisible]="matTab.isActive"
          [selectedActivities]="selectedActivities"
          [event]="event">
        </app-event-card-chart-new>
        <!--<app-event-card-chart-->
        <!--[isVisible]="selectedTabIndex === (eventHasPointsWithPosition? 2 : 1)"-->
        <!--[useDistanceAxis]="useDistanceAxis"-->
        <!--[selectedActivities]="selectedActivities"-->
        <!--[event]="event">-->
        <!--</app-event-card-chart>-->
      </mat-tab>
      <mat-tab label="Laps" *ngIf="hasLaps(event)">
        <ng-template matTabLabel>
          <mat-icon>linear_scale</mat-icon>
        </ng-template>
        <app-event-card-laps
          [selectedActivities]="selectedActivities"
          [event]="event">
        </app-event-card-laps>
      </mat-tab>
      <mat-tab label="Tools"
               *ngIf="hasIBIData(event)">
        <ng-template matTabLabel>
          <mat-icon>build</mat-icon>
        </ng-template>
        <app-event-card-tools [selectedActivities]="selectedActivities" [event]="event"></app-event-card-tools>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
