<div class="loading-overlay-container" [style.height]="height" [style.width]="width">
    <!-- Overlay Content (Spinner/Skeleton) -->
    <div class="loading-indicators" *ngIf="isLoading">
        <mat-progress-bar mode="indeterminate" class="overlay-progress-bar"></mat-progress-bar>
        <app-skeleton width="100%" height="100%" [borderRadius]="borderRadius" class="overlay-skeleton"></app-skeleton>
    </div>

    <!-- Optional Shade -->
    <app-shade *ngIf="showShade" [isActive]="isLoading"></app-shade>

    <!-- Transcluded Content -->
    <ng-content></ng-content>
</div>