.bottom-sheet-container {}

.bottom-sheet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.bottom-sheet-header h2 {
    margin: 0;
    font-weight: 500;
}

.bottom-sheet-content {
    max-height: 80vh;
    overflow-y: auto;
}

@media (min-width: 1200px) {
    .bottom-sheet-content {
        max-height: 90vh;
    }
}