<div class="bottom-sheet-container">
    <app-bottom-sheet-header title="Detailed Statistics" icon="query_stats">
        <button mat-icon-button (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </app-bottom-sheet-header>

    <div class="bottom-sheet-content">
        <app-event-stats-table [event]="data.event" [selectedActivities]="data.selectedActivities"
            [userUnitSettings]="data.userUnitSettings" [showAsExpansion]="false">
        </app-event-stats-table>
    </div>
</div>
