<button mat-icon-button [matMenuTriggerFor]="menu"
  (click)="$event.preventDefault(); $event.stopPropagation();">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu"  (closed)="menuClosed()">
  <mat-selection-list [multiple]="true" (selectionChange)="selectionChange($event)" (click)="$event.preventDefault(); $event.stopPropagation();">
    @for (dataType of dataTypes; track dataType) {
      <mat-list-option [selected]="selectedDataTypes.indexOf(dataType) !== -1" [value]="dataType">
        {{dataType}}
      </mat-list-option>
    }
  </mat-selection-list>
</mat-menu>
