<h2 mat-dialog-title>
  <mat-icon class="app-icon" svgIcon="logo"></mat-icon>
  Quantified Self needs your support on
  <mat-icon class="app-icon" svgIcon="github_logo" (click)="gitHubSponsor()"></mat-icon>
</h2>
<mat-divider></mat-divider>
<mat-dialog-content>

  <p>
    Hi there 👋<br /><br />
    this project is <b>free</b> and <b>opensource</b> but maintaining a <b>cloud</b> and <b>feature</b> development need
    your support.
  </p>

  <p>
    You are most welcome to <b>contribute</b> and <b>support</b> this project on <b
      (click)="gitHubSponsor()">Github</b><br />
    For as little as <b>1€</b> per month you can support the cloud <b>costs</b>.
  </p>
  <p>
    Thanks for reading this.
  </p>

  <p>
    Kr,<br /><br />
    Dimi
  </p>
</mat-dialog-content>
<mat-dialog-actions>

  <button mat-flat-button color="accent" class="full" (click)="gitHubSponsor()">
    Support this project on Github
  </button>
  <button mat-button (click)="close($event)" class="full">Close</button>
</mat-dialog-actions>