<h2 mat-dialog-title>
  <mat-icon class="app-icon" svgIcon="logo"></mat-icon>
  Quantified Self needs your support
</h2>
<mat-divider></mat-divider>
<mat-dialog-content>

  <p>
    Hi there 👋<br/><br/>
    this project is <b>free</b> and <b>opensource</b> but the <b>cloud</b> and <b>feature</b> development still need your support.
  </p>

  <p>
    You are most welcome to <b>contribute</b> and <b>support</b> this project on Patreon.<br/>
    For as little as <b>1€</b> per month you can support the cloud <b>costs</b>.
  </p>
  <p>
    Thanks for reading this.
  </p>

  <p>
    Kr,<br/>
    Dimi
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="accent" class="full"
          (click)="becomeAPatron()">
    Support this project on Patreon
  </button>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
