form {
  width: 100%;
  padding: 1%;
}

mat-form-field {
  width: 100%;
}

.radio-container {
  margin-bottom: 1em;
}

.mat-radio-button{
  margin-top: 1em;
  margin-right: 1em;
}

button{
  width: 100%;
  margin-top: 1em;
}

/deep/ .mat-checkbox-layout {
  white-space: normal !important;
}

.checkbox{
  text-align: right;
}
