form {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

/deep/ .mat-checkbox-layout {
  white-space: normal !important;
}

button{
  width: 100%;
  margin-bottom: 0.5em;
}

/*mat-checkbox{*/
  /*margin-bottom: 0.5em;*/
/*}*/
mat-checkbox{
  /*width: 100%;*/
  /*min-width: 100%;*/

}
mat-card{
  margin-bottom: 0.5em;
  font-size: 0.85em;
  line-height: 1.5em;
  /*width: 100%;*/
  /*min-width: 100%;*/
}

