<mat-dialog-content>

  <form *ngIf="userFormGroup" [formGroup]="userFormGroup" (submit)="onSubmit()">

    <app-shade [isActive]="isDeleting || isLoading" [hasError]="errorDeleting" [errorMessage]="errorDeleting"></app-shade>

    <span class="mat-headline">Hi there {{ user.displayName }}</span>
    <span class="mat-subheader">Let's edit your profile!</span>

    <mat-form-field>
      <input matInput placeholder="Name" formControlName="displayName">
      <mat-hint>Quite apparent, the name you would like to use</mat-hint>
      <mat-error *ngIf="hasError('displayName')">
        Name must not be empty
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Your bio, description or anything you want to share..."
             formControlName="description">
      <mat-hint>This can be something that if your profile is public other users can see</mat-hint>
      <mat-error *ngIf="hasError('description')">
        Description must not be empty
      </mat-error>
    </mat-form-field>

    <div class="radio-container">
      <mat-radio-group formControlName="privacy">
        <mat-radio-button [value]="privacy.Public">
          Public Profile
        </mat-radio-button>
        <mat-radio-button [value]="privacy.Private">
          Private Profile
        </mat-radio-button>
      </mat-radio-group>
      <mat-hint></mat-hint>
    </div>

    <mat-form-field>
      <input matInput placeholder="A brand text that will appear in places that 'quantified-Self.io' appears at the moment"
             formControlName="brandText">
      <mat-hint>If you have a branded account you can customize what will be shown instead of the "quantified-self.io" brand text. You can contact us to get a branded account</mat-hint>
      <mat-error *ngIf="hasError('brandText')">
        Brand text error
      </mat-error>
    </mat-form-field>

    <div class="checkbox">
      <mat-checkbox (change)="$event.checked ? showDelete = true : showDelete = false">
        I want to delete my account
      </mat-checkbox>
    </div>


    <div *ngIf="!showDelete">
      <button mat-stroked-button (click)="close($event)">Cancel</button>

      <button mat-flat-button color="primary" (click)="onSubmit()">Save</button>
    </div>

    <div class="account-delete" *ngIf="showDelete && !isDeleting">
      <button class="full" *ngIf="!consentToDelete" mat-flat-button color="warn" (click)="consentToDelete = true">
        DELETE MY ACCOUNT
      </button>
      <button class="full" *ngIf="consentToDelete" mat-flat-button color="warn" (click)="deleteUser($event)">I am sure, Yes
        delete it
      </button>
    </div>


  </form>
</mat-dialog-content>
