<mat-dialog-content>
  <form [formGroup]="userFormGroup" (submit)="onSubmit($event)" class="qs-form">
    <span class="mat-headline">Hi there {{ user.displayName || 'guest' }},</span>
    <span class="mat-subheader">Let's agree on a few things before we proceed</span>
    <mat-checkbox formControlName="acceptPrivacyPolicy">
      <mat-card class="mat-elevation-z0">
        <b>You accept that: </b>
        <ul>
          <li> Your data are stored and held encrypted by Google (Google Cloud)</li>
          <li>You choose what part of your data to make public or private (profile, individual data)</li>
          <li>We provide all default privacy settings to private, only seen by you and you can choose what to make
            public
          </li>
          <li>We don't sell or send your data to any other 3rd party nor do we process your private data in any other
            way rather than allowing you to visualize them</li>
        </ul>
      </mat-card>
    </mat-checkbox>
    <mat-divider></mat-divider>

    <mat-checkbox formControlName="acceptDataPolicy">
      <mat-card class="mat-elevation-z0">
        <b>You accept that: </b>
        <ul>
          <li>
            While we will employ the best endeavours we don't promise to keep your files and data accessible at
            any time, it's best advised to keep your own private copies
          </li>
        </ul>
      </mat-card>
    </mat-checkbox>
    <mat-divider></mat-divider>

    <mat-checkbox formControlName="acceptTrackingPolicy">
      <mat-card class="mat-elevation-z0">
        <b>You accept that: </b>
        <ul>
          <li>Your IP and user id is anonymised and is used to determine visits by country, monthly active users (MAU)
            etc
            via Google Analytics
          </li>
          <li>We don't allow Google or any other 3rd party to access these data</li>
          <li>We don't use cross device recognition nor any non-anonymised data</li>
        </ul>
      </mat-card>
    </mat-checkbox>

    <mat-divider></mat-divider>

    <mat-checkbox formControlName="acceptDiagnosticsPolicy">
      <mat-card class="mat-elevation-z0">
        <b>You accept that: </b>
        <ul>
          <li>
            Your browser can send anonymised data when errors happen to help improve the quality of the service.
          </li>
        </ul>
      </mat-card>
    </mat-checkbox>

    <div class="qs-form-actions">
      <button mat-stroked-button (click)="close($event)">Cancel</button>
      <button [disabled]="!this.userFormGroup.valid" mat-flat-button color="accent" (click)="onSubmit($event)">Create My
        Account
      </button>
    </div>

  </form>
</mat-dialog-content>