/* Global .qs-form styles handle width and spacing. */

/* Mat-checkbox layout override needs to stay if necessary, but others can go. */
::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
}


/*mat-checkbox{*/
/*margin-bottom: 0.5em;*/
/*}*/
mat-checkbox {
  /*width: 100%;*/
  /*min-width: 100%;*/

}

mat-card {
  margin-bottom: 0.5em;
  font-size: 0.85em;
  line-height: 1.5em;
  /*width: 100%;*/
  /*min-width: 100%;*/
}