form {
  width: 100%;
  padding: 1%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 0.5em;
}

.radio-container {
  margin-bottom: 0.5em;
}

.mat-radio-button{
  margin-right: 1%;
}
button{
  width: 100%;
  margin-bottom: 0.5em;
}

/deep/ .mat-checkbox-layout {
  white-space: normal !important;
}
