<form [formGroup]="userFormGroup" (submit)="onSubmit()">
  <div>
    <mat-checkbox formControlName="acceptPrivacyPolicy">
      <b>You accept that: </b> Your data are stored and held encrypted by Google (Google Cloud).<br/>You choose what to make public and what private with us providing all defaults to be private.
    </mat-checkbox>
    <mat-error *ngIf="hasError('acceptPrivacyPolicy')">
      You must accept the privacy policy
    </mat-error>
  </div>

  <div>
    <mat-checkbox formControlName="acceptDataPolicy">
     <b>You accept that: </b> While we will employ best endeavours we don't promise to keep your files accessible at any time, it's best advised to keep your own private copies.
    </mat-checkbox>
    <mat-error *ngIf="hasError('acceptDataPolicy')">
      You must accept the data policy
    </mat-error>
  </div>

  <button mat-stroked-button (click)="close()">Cancel</button>

  <button *ngIf="this.userFormGroup.valid" mat-flat-button color="accent" (click)="onSubmit()">Create My Account</button>

</form>
