form {
  width: 100%;
  padding: 1%;
  position: relative;
}

mat-form-field {
  width: 100%;
  margin-top: 1em;
}

.radio-container {
  margin-bottom: 1em;
}

.mat-radio-button {
  margin-top: 1em;
  margin-right: 1em;
}

button {
  width: 100%;
  margin-top: 1em;
}

/* Removed ::ng-deep .mat-checkbox-layout */

.checkbox {
  text-align: right;
  margin-top: 2em;
}