mat-icon {
  vertical-align: baseline;
}

section.smoothing {
  overflow: visible;
}
mat-form-field{
  width: 100%
}
.first{
  padding-top: 1em;
}

section.item{
  max-width: 51%;
  width: 51%;
}

section.container{
  display: flex;
  flex-wrap: wrap;
}
