<mat-card-header>
  <div mat-card-avatar>
    <mat-icon>linear_scale</mat-icon>
  </div>
  <mat-card-title>Laps</mat-card-title>
</mat-card-header>
<mat-tab-group [dynamicHeight]="true">
  @for (availableLapType of availableLapTypes; track availableLapType) {
  <mat-tab [label]="availableLapType">
    <ng-template matTabLabel>
      <app-lap-type-icon [lapType]="availableLapType"></app-lap-type-icon>
    </ng-template>
    <ng-template matTabContent>
      @for (activity of selectedActivities; track activity; let i = $index) {
      @if (getData(activity, availableLapType).data.length) {
      <section>
        @if (selectedActivities.length > 1 || event.getActivities().length > 1) {
        <app-activity-toggle [event]="event" [showToggle]="false" [showDate]="false" [showStats]="false"
          [activity]="activity" [selectedActivities]="selectedActivities">
        </app-activity-toggle>
        }
        @if (selectedActivities.length > 1) {
        <mat-divider [inset]="true"></mat-divider>
        }
        <section class="table-container">
          <table mat-table [dataSource]="getData(activity, availableLapType)">
            @for (column of getColumnsToDisplayByActivityLapTypes(activity, availableLapType); track column) {
            <ng-container [matColumnDef]="column" [sticky]="isSticky(column)">
              <mat-header-cell *matHeaderCellDef>
                <app-data-type-icon [dataType]="column"></app-data-type-icon>
              </mat-header-cell>
              <mat-cell *matCellDef="let row">{{ row[column] }}</mat-cell>
            </ng-container>
            }
            <mat-header-row
              *matHeaderRowDef="getColumnsToDisplayByActivityLapTypes(activity, availableLapType)"></mat-header-row>
            <mat-row
              *matRowDef="let row; columns: getColumnsToDisplayByActivityLapTypes(activity, availableLapType);"></mat-row>
          </table>
        </section>
      </section>
      }
      }
    </ng-template>
  </mat-tab>
  }
</mat-tab-group>