:host {
  display: inline-block;
}

button,
a[mat-flat-button] {
  border-radius: 20px;
  padding: 0 24px;
  height: 40px;
  line-height: 40px;
  font-weight: 500;
  box-shadow: none !important;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  box-sizing: border-box;
}

/*button:hover {*/
/*  -webkit-transform: rotate(180deg);*/
/*  transform: rotate(180deg);*/
/*}*/
/*mat-icon{*/
/*  line-height: 22px !important;*/
/*  !*line-height: 18px!important;*!*/
/*  width: 28px;*/
/*  height: 28px;*/
/*  font-size: 28px;*/
/*}*/