<button mat-flat-button color="accent"
        (drop)="getFiles($event);"
        (click)="inputFile.click()"
        ondragenter="event.stopPropagation(); event.preventDefault();"
        ondragover="event.stopPropagation(); event.preventDefault();this.classList.add('drag');"
        ondragleave="event.stopPropagation(); event.preventDefault();this.classList.remove('drag');">
  Upload
</button>
<input #inputFile type="file" accept=".json, .tcx, .fit, .gpx, .sml" multiple style="display: none;"
       (change)="getFiles($event)"/>


