<ng-container *ngIf="isPro || (uploadCount !== null && uploadLimit !== null && uploadCount < uploadLimit)">
  <button mat-flat-button color="accent" (drop)="getFiles($event);" (click)="inputFile.click()"
    ondragenter="event.stopPropagation(); event.preventDefault();"
    ondragover="event.stopPropagation(); event.preventDefault();this.classList.add('drag');"
    ondragleave="event.stopPropagation(); event.preventDefault();this.classList.remove('drag');"
    [class.icon-only]="isHandset" [matTooltip]="isHandset ? 'Upload Activities' : ''">
    <mat-icon *ngIf="isHandset">upload</mat-icon>
    <ng-container *ngIf="!isHandset">
      <span *ngIf="isPro">Upload</span>
      <span *ngIf="!isPro">Upload ({{ (uploadLimit - uploadCount) > 0 ? (uploadLimit - uploadCount) : 0}}
        remaining)</span>
    </ng-container>
  </button>
</ng-container>

<a mat-flat-button color="accent" routerLink="/pricing"
  *ngIf="!isPro && uploadCount !== null && uploadLimit !== null && uploadCount >= uploadLimit"
  [class.icon-only]="isHandset" [matTooltip]="isHandset ? 'Upgrade to Pro' : ''">
  <mat-icon *ngIf="isHandset">upgrade</mat-icon>
  <span *ngIf="!isHandset">Upgrade to Pro</span>
</a>
<input #inputFile type="file" accept=".json, .tcx, .fit, .gpx, .sml" multiple style="display: none;"
  (change)="getFiles($event)" />