<button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation();">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <!--<section mat-menu-item>-->
    <!--<mat-slide-toggle-->
      <!--[color]="'accent'"-->
      <!--(change)="checkBoxChanged($event)"-->
      <!--[(ngModel)]="useDistanceAxis">-->
      <!--<span matTooltip="If you want to use distance instead of time for the X Axis of the chart">-->
        <!--Use distance Axis-->
      <!--</span>-->
    <!--</mat-slide-toggle>-->
  <!--</section>-->
  <section mat-menu-item>
    <mat-slide-toggle
      [color]="'accent'"
      (change)="checkBoxChanged($event)"
      [(ngModel)]="showAllStats">
      <span matTooltip="Some data are filtered to not clutter the chart by default. Turn this toggle on to show all available data that exist">
        Show all data
      </span>
    </mat-slide-toggle>
  </section>
  <!--<section mat-menu-item>-->
    <!--<mat-slide-toggle-->
      <!--[color]="'accent'"-->
      <!--(change)="checkBoxChanged($event)"-->
      <!--[(ngModel)]="showOnlyOneYAxis">-->
      <!--<span matTooltip="By default the chart will grow it's Y Axes when you toggle a data item on. Toggling this setting to on will prevent that.">-->
        <!--Show Only One Y Axis-->
      <!--</span>-->
    <!--</mat-slide-toggle>-->
  <!--</section>-->
</mat-menu>
