:host {
  position: absolute;
  inset: 0;
  z-index: 500;
  display: block;
  pointer-events: none;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.5em;
  pointer-events: auto;
}


.error {
  color: #FFFFFF;
  max-width: min(36rem, 90%);
  text-align: center;
  font-size: 1.5em;
  line-height: 1.3;
}


.message {
  color: #FFFFFF;
  max-width: 360px;
  text-align: center;
}
