.tab-content {
  display: flex;
  flex-direction: column;
}

mat-icon.large-svg-icon {
  width: 80px;
  height: 36px;
  font-size: 36px;
}

mat-icon.large-svg-icon-coros {
  width: 100px;
  height: 36px;
  font-size: 36px;
}

.service-tab-padding {
  padding: 16px;
}