<section class="component-container">
  <mat-tab-group [dynamicHeight]="true" [selectedIndex]="selectedTabIndex">
    <mat-tab label="Suunto" [disabled]="!user || isGuest">
      <ng-template matTabLabel>
        <mat-icon class="large-svg-icon" svgIcon="suunto"></mat-icon>
      </ng-template>
      <ng-template matTabContent>
        <div class="service-tab-padding">
          <app-services-suunto [user]="user" [isGuest]="isGuest" [hasProAccess]="hasProAccess"></app-services-suunto>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Garmin" [disabled]="!user || isGuest">
      <ng-template matTabLabel>
        <mat-icon class="large-svg-icon" svgIcon="garmin"></mat-icon>
      </ng-template>
      <ng-template matTabContent>
        <div class="service-tab-padding">
          <app-services-garmin [user]="user" [isGuest]="isGuest" [hasProAccess]="hasProAccess"></app-services-garmin>
        </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="COROS" [disabled]="!user || isGuest">
      <ng-template matTabLabel>
        <mat-icon class="large-svg-icon-coros" svgIcon="coros"></mat-icon>
      </ng-template>
      <ng-template matTabContent>
        <div class="service-tab-padding">
          <app-services-coros [user]="user" [isGuest]="isGuest" [hasProAccess]="hasProAccess"></app-services-coros>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <app-shade [isActive]="isLoading"></app-shade>
</section>