mat-card.service-card {
  /*width: 100%;*/
  min-height: calc(100vh - 28px);
}

mat-form-field {
  margin-bottom: 2em;
  width: 100%;
}

button {
  /* Standard button sizing */
  margin-right: 1em;
}

button:last-child {
  margin-right: 0;
}

button.margin-left {
  margin-left: 0;
}

button.big {
  width: 100%;
  margin-top: 1em;
  margin-right: 0;
}



mat-icon {
  vertical-align: middle;
  font-size: 1.6em;
}

.smaller {
  font-size: 0.75em;
}

.button-block {
  display: block;
  margin-bottom: 2em;
}