mat-card.service-card {
  /*width: 100%;*/
  min-height: calc(100vh - 28px);
}

mat-form-field {
  margin-bottom: 2em;
  width: 100%;
}

button {
  /* Standard button sizing */
  margin-right: 1em;
}

button:last-child {
  margin-right: 0;
}

button.margin-left {
  margin-left: 0;
}

button.big {
  width: 100%;
  margin-top: 1em;
  margin-right: 0;
}



mat-icon {
  vertical-align: middle;
  font-size: 1.6em;
}

.smaller {
  font-size: 0.75em;
}

.button-block {
  display: block;
  margin-bottom: 2em;
}

.description-text {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 16px;
  max-width: 800px;
}

.tab-subtitle {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.tab-subtitle mat-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  color: rgba(0, 0, 0, 0.54);
}