mat-grid-list{
  min-height: 100vh;
}

mat-card{
}

mat-card.service-card{
  /*width: 100%;*/
  min-height: calc(100vh - 32px);
}

mat-form-field {
  margin-bottom: 2em;
  width: 100%;
}

button{
  width: 49%;
}

button.margin-left {
  margin-left: 1%;
}

button.big{
  width: 100%;
  margin-top: 1em;
}



mat-icon{
  vertical-align: middle;
  font-size: 1.6em;
}

.smaller{
  font-size: 0.75em;
}

.button-block{
  display: block;
  margin-bottom: 2em;
}

.tab-content{
  display: flex;
  flex-direction: column;
  /*height: 60vh;*/
}
