<mat-list>
  <mat-list-item>
<!--    <fa [name]="'heartbeat'"></fa>&nbsp;Filters for activities that have IBI(R-R) data (more to come soon)-->
  </mat-list-item>
  <mat-list-item>
    <button mat-raised-button color="accent" (click)="applyFilters(true)"
            [disabled]="(lowLimitFilterChecked || highLimitChecked || movingMedianChecked || movingWeightAverageChecked)">
      Apply default filters
    </button>
    <button mat-raised-button color="warn" (click)="applyFilters(false, true)"
            [disabled]="(lowLimitFilterChecked || highLimitChecked || movingMedianChecked || movingWeightAverageChecked)">
      Reset to raw IBI data
    </button>
  </mat-list-item>
  <mat-list-item>
    <mat-checkbox [(ngModel)]="lowLimitFilterChecked">Remove heart rate below</mat-checkbox>
    <mat-slider
      [disabled]="!lowLimitFilterChecked"
      [max]="220"
      [min]="0"
      [step]="1"
      discrete
      
      [(ngModel)]="lowLimitFilterValue"
      >
    </mat-slider>
    {{ lowLimitFilterValue }} bpm
  </mat-list-item>
  <mat-list-item>
    <mat-checkbox [(ngModel)]="highLimitChecked">Remove heart rate above</mat-checkbox>
    <mat-slider
      [disabled]="!highLimitChecked"
      [max]="300"
      [min]="0"
      [step]="1"
      discrete
      
      [(ngModel)]="highLimitValue"
      >
    </mat-slider>
    {{ highLimitValue }} bpm
  </mat-list-item>

  <mat-list-item>
    <mat-checkbox [(ngModel)]="movingMedianChecked">Apply moving median filter</mat-checkbox>
    <mat-slider
      [disabled]="!movingMedianChecked"
      [max]="20"
      [min]="0"
      [step]="1"
      discrete
      
      [(ngModel)]="movingMedianValue"
      >
    </mat-slider>
    {{ movingMedianValue }}
  </mat-list-item>

  <mat-list-item>
    <mat-checkbox [(ngModel)]="movingWeightAverageChecked">Apply moving weight average filter</mat-checkbox>
    <mat-slider
      [disabled]="!movingWeightAverageChecked"
      [max]="20"
      [min]="0"
      [step]="1"
      discrete
      
      [(ngModel)]="movingWeightAverageValue"
      >
    </mat-slider>
    {{ movingWeightAverageValue }}
  </mat-list-item>

  <mat-list-item>
    <button mat-raised-button color="primary" (click)="applyFilters()"
            [disabled]="!(lowLimitFilterChecked || highLimitChecked || movingMedianChecked || movingWeightAverageChecked)">
      Apply filters
    </button>
  </mat-list-item>
</mat-list>
