mat-icon{
  vertical-align: middle;
}
mat-form-field{
  width: 100%;
}
::ng-deep .mat-form-field-disabled .mat-form-field-underline{
  display: none;
}

::ng-deep .mat-form-field-disabled .mat-select-arrow {
  visibility: hidden;
}

::ng-deep .mat-input-element {
  color: unset !important;
}

::ng-deep .mat-select-disabled .mat-select-value {
  color: unset !important;
}
