<mat-form-field>
  <input matInput
         [placeholder]="placeHolder"
         *ngIf='type !== "textArea"'
         (focusout)="onFocusOut();"
         (keydown.enter)='$event.target.blur()'
         [(ngModel)]='data'
         [type]="type">
  <textarea matInput rows="1"
            [placeholder]="placeHolder"
            *ngIf='type === "textArea"'
            (focusout)="onFocusOut();"
            (keydown.enter)='$event.target.blur()'
            [(ngModel)]='data'>
  </textarea>
</mat-form-field>
