mat-icon {
  vertical-align: middle;
}

section {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

mat-chip mat-icon {
  font-size: 16px;
  height: 16px;
  width: 16px;
}

/deep/ .mat-chip-list-wrapper {
  align-items: center !important;
}
