<section>
  <mat-icon *ngIf="showIcon" [ngStyle]="{'color':  eventColorService.getActivityColor(event, activity)}">
    watch
  </mat-icon>
  <span>
    {{ activity.creator.name }}
    <span *ngIf="showSWInfo &&  activity.creator.swInfo">
      <span class="mat-small">
        v{{ activity.creator.swInfo }}
      </span>
    </span>
  </span>
  &nbsp;
  <span *ngIf="showType"><b>{{ activity.type }}</b>
  </span>
  <span *ngIf="showDuration">
    <span>
      &nbsp;<b>{{ activity.getDuration().getDisplayValue() }}</b>
    </span>
  </span>
  &nbsp;
  <span *ngIf="showDistance && activity.getDistance()">
    <span >
      <b>{{ activity.getDistance().getDisplayValue() }}</b>
      {{ activity.getDistance().getDisplayUnit() }}
    </span>
  </span>
  <app-activity-actions  *ngIf="user && showActions" [user]="user" [event]="event" [activity]="activity"></app-activity-actions>
</section>
