<section>
  <mat-icon *ngIf="showIcon" [ngStyle]="{'color':  eventColorService.getActivityColor(event, activity)}">watch
  </mat-icon>
  <span class="mat-body-2">{{ activity.creator.name }}</span><span>&nbsp;-&nbsp;</span><span
  class="mat-body-2">{{ activity.type }}</span>
  <span>&nbsp;for&nbsp;</span>
  <span class="mat-body-2">
    {{ activity.getDuration().getDisplayValue() }}
  </span>
  <span>&nbsp;and&nbsp;</span>
  <span class="mat-body-2">
    {{ activity.getDistance().getDisplayValue() }}
    {{ activity.getDistance().getDisplayUnit() }}
  </span>
</section>
