mat-icon {
  vertical-align: middle;
}

section {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

mat-chip mat-icon {
  font-size: 16px;
  height: 18px;
  width: 18px;
}

mat-chip{
  font-size: 12px;
}
