<div class="performance-charts-container">
  @if (shouldShowTabs) {
  <mat-tab-group class="performance-charts-tabs">
    @for (tab of availableTabs; track tab) {
    <mat-tab [aria-label]="getTabLabel(tab)">
      <ng-template mat-tab-label>
        <span class="performance-tab-label">
          <mat-icon aria-hidden="true" class="performance-tab-icon">{{ getTabIcon(tab) }}</mat-icon>
          <span class="performance-tab-text">{{ getTabLabel(tab) }}</span>
        </span>
      </ng-template>
      <ng-template matTabContent>
        @switch (tab) {
        @case ('intensity') {
        <app-event-intensity-zones [activities]="activities" [useAnimations]="useAnimations" [darkTheme]="darkTheme">
        </app-event-intensity-zones>
        }
        @case ('powerCurve') {
        <app-event-power-curve [activities]="activities" [useAnimations]="useAnimations" [darkTheme]="darkTheme"
          [isMerge]="isMerge">
        </app-event-power-curve>
        }
        @case ('durability') {
        <app-event-durability-curve [activities]="activities" [useAnimations]="useAnimations" [darkTheme]="darkTheme"
          [isMerge]="isMerge">
        </app-event-durability-curve>
        }
        @case ('cadencePower') {
        <app-event-cadence-power [activities]="activities" [useAnimations]="useAnimations" [darkTheme]="darkTheme"
          [isMerge]="isMerge">
        </app-event-cadence-power>
        }
        }
      </ng-template>
    </mat-tab>
    }
  </mat-tab-group>
  } @else if (singleChartTab) {
  @switch (singleChartTab) {
  @case ('intensity') {
  <app-event-intensity-zones [activities]="activities" [useAnimations]="useAnimations" [darkTheme]="darkTheme">
  </app-event-intensity-zones>
  }
  @case ('powerCurve') {
  <app-event-power-curve [activities]="activities" [useAnimations]="useAnimations" [darkTheme]="darkTheme"
    [isMerge]="isMerge">
  </app-event-power-curve>
  }
  @case ('durability') {
  <app-event-durability-curve [activities]="activities" [useAnimations]="useAnimations" [darkTheme]="darkTheme"
    [isMerge]="isMerge">
  </app-event-durability-curve>
  }
  @case ('cadencePower') {
  <app-event-cadence-power [activities]="activities" [useAnimations]="useAnimations" [darkTheme]="darkTheme"
    [isMerge]="isMerge">
  </app-event-cadence-power>
  }
  }
  }
</div>
