<button type="button"
  class="my-tracks-map-layers-control__button"
  [matMenuTriggerFor]="menuPanel.menu"
  [disabled]="!user || disabled"
  [matTooltip]="user ? 'Map layers' : 'Sign in to use this'"
  aria-label="Map layers">
  <mat-icon class="mapboxgl-ctrl-icon my-tracks-map-layers-control__icon" aria-hidden="true">layers</mat-icon>
</button>
<app-map-layers-menu-panel #menuPanel
  [user]="user"
  [disabled]="disabled"
  [mapStyle]="mapStyle"
  [is3D]="is3D"
  [showJumpHeatmap]="showJumpHeatmap"
  [showLaps]="showLaps"
  [showArrows]="showArrows"
  [enableJumpHeatmapToggle]="enableJumpHeatmapToggle"
  [enableLapsToggle]="enableLapsToggle"
  [enableArrowsToggle]="enableArrowsToggle"
  [enable3DToggle]="enable3DToggle"
  [analyticsEventName]="analyticsEventName"
  (mapStyleChange)="mapStyleChange.emit($event)"
  (is3DChange)="is3DChange.emit($event)"
  (showJumpHeatmapChange)="showJumpHeatmapChange.emit($event)"
  (showLapsChange)="showLapsChange.emit($event)"
  (showArrowsChange)="showArrowsChange.emit($event)">
</app-map-layers-menu-panel>
