<section class="event-section-header">
  <div class="event-section-header-leading">
    <div class="event-section-header-avatar" aria-hidden="true">
      <mat-icon>{{ icon }}</mat-icon>
    </div>
    @if (title) {
    <div class="event-section-header-title">
      <span class="event-section-header-title-text">{{ title }}</span>
      <ng-content select="[event-section-header-title]"></ng-content>
    </div>
    }
  </div>
  <div class="event-section-header-actions">
    <ng-content></ng-content>
  </div>
</section>
