mat-icon {
  vertical-align: middle;
  display: inline;
}

section {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
}

.mat-checkbox-label {
  width: 100%;
}
