mat-icon {
  vertical-align: middle;
}

mat-chip-list {
  display: inline-block;
}

.mat-card-actions, .mat-card-content, .mat-card-subtitle, .mat-card-title {
  display: inline-block;
}

section {
  margin: auto;
  width: 100%;
  display: flex; /* establish flex container */
  flex-direction: row; /* make main axis horizontal (default setting) */
  justify-content: space-around; /* center items horizontally, in this case */
  align-items: center;
  flex-wrap: wrap;
}

mat-checkbox {
  margin: 0.5%;
}

.mat-checkbox-label {
  width: 100%;
}
