<section>
  <mat-checkbox
    *ngFor="let activityCheckbox of activitiesCheckboxes let i = index;"
    class="margin"
    [(ngModel)]="activityCheckbox.checked"
    [disabled]="activityCheckbox.disabled"
    (change)="onCheckboxChange()">
    <mat-card>
      <mat-icon [ngStyle]="{'color':  eventColorService.getActivityColor(event, activityCheckbox.activity)}">watch
      </mat-icon>
      <span class="mat-body-2"><mat-chip-list><mat-chip>{{ activityCheckbox.activity.creator.name.slice(0, 30) }}</mat-chip></mat-chip-list></span>
      <mat-icon>timer</mat-icon>
      {{
      activityCheckbox.activity.summary.totalDurationInSeconds * 1000 | amFromUtc | amDateFormat: 'HH:mm:ss'
      }}
      <app-activity-icon [activity]="activityCheckbox.activity"></app-activity-icon>
      {{ activityCheckbox.activity.type }}
      <mat-icon>trending_flat</mat-icon>
      {{ (activityCheckbox.activity.summary.totalDistanceInMeters / 1000).toFixed(1) }} Km
    </mat-card>
  </mat-checkbox>
</section>
