<mat-checkbox
  *ngFor="let activityCheckbox of activitiesCheckboxes let i = index;"
  class="margin"
  [(ngModel)]="activityCheckbox.checked"
  [disabled]="activityCheckbox.disabled"
  (change)="onCheckboxChange()">{{ activityCheckbox.activity.getType() }}<br/>
  <mat-icon>timer</mat-icon> {{ activityCheckbox.activity.getSummary().getTotalDurationInSeconds() * 1000 | amFromUtc | amDateFormat: 'HH:mm:ss' }}<br/>
  <mat-icon>trending_flat</mat-icon> {{ (activityCheckbox.activity.getSummary().getTotalDistanceInMeters() / 1000).toFixed(1) }} Km
</mat-checkbox>
