<button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation();">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <section mat-menu-item>
    <mat-slide-toggle
      [color]="'accent'"
      (change)="checkBoxChanged($event)"
      [(ngModel)]="showAutoLaps">
      <span matTooltip="When enabled auto lap markers will be added to the map">
        Auto Laps
      </span>
    </mat-slide-toggle>
  </section>
  <section mat-menu-item>
    <mat-slide-toggle
      [color]="'accent'"
      (change)="checkBoxChanged($event)"
      [(ngModel)]="showManualLaps">
      <span matTooltip="When enabled manual lap markers will be added to the map">
        Manual Laps
      </span>
    </mat-slide-toggle>
  </section>
</mat-menu>
