<mat-icon
  matTooltip="{{lapType}}"
  *ngIf="getColumnHeaderIcon(lapType)"
  [ngStyle]="{'font-size': size ? size : '24px', 'width':  size ? size : '24px', 'height':  size ? size : '24px', 'vertical-align': vAlign? vAlign : 'middle'}">
  {{ getColumnHeaderIcon(lapType) }}
</mat-icon>
<mat-icon
  matTooltip="{{lapType}}"
  *ngIf="getColumnHeaderSVGIcon(lapType)"
  [ngStyle]="{'font-size': size ? size : '24px', 'width':  size ? size : '24px', 'height':  size ? size : '24px', 'vertical-align': vAlign? vAlign : 'middle'}"
  [svgIcon]="getColumnHeaderSVGIcon(lapType)">
</mat-icon>
<section *ngIf="!getColumnHeaderSVGIcon(lapType) && !getColumnHeaderIcon(lapType)"
         matTooltip="{{lapType}}"
         [attr.data-letters]="getColumnHeaderTextInitials(lapType)"
         [ngStyle]="{'font-size': size ? size : '24px', 'width':  size ? size : '24px', 'height':  size ? size : '24px', 'vertical-align': vAlign? vAlign : 'middle'}">
</section>
