<agm-map
  style="height: 40vh; width: 100%;"
  [fullscreenControl]="true"
  [fitBounds]="fitBounds()">
  <agm-polyline
    *ngFor="let activity of event.getActivities(); let i = index;"
    [strokeColor]="getActivityColor(i.toString())">
    <agm-polyline-point
      *ngFor="let point of event.getPointsWithPosition({activities: [activity]})"
      [latitude]="point.getPosition().latitudeDegrees"
      [longitude]="point.getPosition().longitudeDegrees">
    </agm-polyline-point>
  </agm-polyline>
</agm-map>
