<md-grid-list cols="3" rowHeight="2:1">
  <md-grid-tile colspan="2" rowspan="2">
    <agm-map
      style="height: 100%; width: 100%;"
      [fullscreenControl]="true"
      [fitBounds]="fitBounds()">
      <agm-polyline
        *ngFor="let activity of event.getActivities(); let i = index;"
        [strokeColor]="getActivityColor(i.toString())">
        <agm-polyline-point
          *ngFor="let point of event.getPointsWithPosition({activities: [activity]})"
          [latitude]="point.getPosition().latitudeDegrees"
          [longitude]="point.getPosition().longitudeDegrees">
        </agm-polyline-point>
      </agm-polyline>
    </agm-map>
  </md-grid-tile>
  <md-grid-tile colspan="1" rowspan="1">
    <md-icon>location_city</md-icon>
    <h3> {{ city }}, {{ country }}</h3>
  </md-grid-tile>
    <md-grid-tile colspan="1" rowspan="1">
    <md-icon>location_city</md-icon>
    <h3> {{ city }}, {{ country }}</h3>
  </md-grid-tile>
</md-grid-list>
