@if (showAsExpansion) {
<mat-accordion>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header style="padding: 0 16px 0 0; height: 40px !important;">
      <mat-panel-title>
        <mat-icon style="margin-right: 16px;">view_column</mat-icon>
        Detailed statistics
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-container *ngTemplateOutlet="tableContent"></ng-container>

  </mat-expansion-panel>
</mat-accordion>
<mat-divider [inset]="true"></mat-divider>
} @else {
<ng-container *ngTemplateOutlet="tableContent"></ng-container>
}


<ng-template #tableContent>
  <div class="table-actions">
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="e.g. heart, cadence, power">
    </mat-form-field>

    @if (selection.hasValue()) {
    <div class="selection-actions" [@expandCollapse]>
      <button mat-flat-button color="primary" (click)="copyToClipboard()" matTooltip="Copy Selected to Markdown">
        <mat-icon>integration_instructions</mat-icon>
      </button>
      <button mat-flat-button color="primary" (click)="copyToSheets()" matTooltip="Copy Selected to Sheets">
        <mat-icon>table_view</mat-icon>
      </button>
      <button mat-stroked-button (click)="clearSelection()" matTooltip="Clear Selection">
        <mat-icon>clear_all</mat-icon>
      </button>
    </div>
    }
  </div>
  <div class="table-container">
    <mat-table [dataSource]="data">
      @for (column of columns; track column) {
      <ng-container [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef [ngStyle]="{'color': getColumnHeaderColor(column)}">
          @if (column !== 'Difference') {
          <span>
            {{getColumnHeaderName(column)}}
          </span>
          }
          @if (column === 'Difference') {
          <span>
            {{column}}
            <mat-icon class="tooltip"
              matTooltip="Up to 2% of difference is acceptable, up to 5% it gets worse and more than 5% it's bad">info_outline</mat-icon>
          </span>
          }
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          @if (column === 'Difference' && row[column]) {
          <span>
            {{ row[column].display }}
            <span [ngStyle]="{'color': getDifferenceColor(row[column].percent)}">
              {{ row[column].percent.toFixed(1) }}%
            </span>
          </span>
          }
          @if (column !== 'Difference') {
          <span>{{ row[column] }}</span>
          }
        </mat-cell>
      </ng-container>
      }
      <mat-header-row *matHeaderRowDef="columns; sticky: true;"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns;" (click)="toggleRow(row)"
        [class.selected-row]="selection.isSelected(row)">
      </mat-row>
    </mat-table>
  </div>
</ng-template>