<mat-card class="mat-elevation-z0"
          (drop)="getFiles($event);"
          ondragenter="event.stopPropagation(); event.preventDefault();"
          ondragover="event.stopPropagation(); event.preventDefault();"
          ondragleave="event.stopPropagation(); event.preventDefault();">
  <button mat-stroked-button  color="primary" (click)="inputFile.click()">

    <span>Select or drag files<span class="mat-small"></span></span><br/>
    <span class="mat-small">GPX, TCX, FIT, JSON and SML files or drag and drop</span>
  </button>
  <input #inputFile type="file" accept=".json, .tcx, .fit, .gpx, .sml" multiple [style.display]="'none'"
         (change)="getFiles($event)"/>
  <app-upload-info *ngIf="isUploadActive" [activitiesMetaData]="activitiesMetaData" ></app-upload-info>
</mat-card>


