<mat-card *ngIf="!isUploadActive" (drop)="getFiles($event);"
          ondragenter="event.stopPropagation(); event.preventDefault();"
          ondragover="event.stopPropagation(); event.preventDefault();"
          ondragleave="event.stopPropagation(); event.preventDefault();">
  <button mat-button (click)="inputFile.click()">Click to open .json or tcx files</button>
  <input #inputFile type="file" accept=".json, .tcx" multiple [style.display]="'none'"
         (change)="getFiles($event)">
  Or drag one or more files to this here ...
</mat-card>

<mat-card *ngIf="isUploadActive">
  <app-upload-info [activitiesMetaData]="activitiesMetaData" ></app-upload-info>
</mat-card>

