<mat-card-header>
  @if (showToggle()) {
  <div mat-card-avatar>
    <mat-slide-toggle (change)="onActivitySelect($event, activity())" [color]="'accent'" [checked]="isSelected()">
    </mat-slide-toggle>
  </div>
  }

  <mat-card-title (click)="onActivityClick($event, activity())"
    [ngStyle]="event().isMerge && isSelected() && {color: activityColor()}">
    <span><b>{{activity().type}}</b></span>
    @if (event().isMerge) {
    <span style="font-size: 0.8em;"> {{activity().creator.name}} {{activity().creator.swInfo}}</span>
    }
  </mat-card-title>
  @if (showDate()) {
  <mat-card-subtitle>
    {{activity().startDate | date:'medium'}}
  </mat-card-subtitle>
  }
  @if (showStats()) {
  <mat-card-subtitle>
    <span><b>{{activity().getDuration().getDisplayValue()}}</b>, </span>
    <span><b>{{activity().getDistance().getDisplayValue()}}</b>{{activity().getDistance().getDisplayUnit()}}</span>
  </mat-card-subtitle>
  }
  @if (user() && isOwner() && showActions()) {
  <app-activity-actions [user]="user()!" [event]="event()" [activity]="activity()" align="end"></app-activity-actions>
  }
</mat-card-header>