mat-icon.mat-tooltip {
  vertical-align: top;
  font-size: 12px;
  margin-left: 0.5em;
}

/*mat-card{*/
/*  min-height: 100vh;*/
/*  padding: 0;*/
/*}*/

mat-form-field {
  padding: 0 1em;
}

mat-table{
  overflow: scroll;
  height: 60vh;
}
