<div class="chart-header">
  <div class="chart-header-avatar">
    <mat-icon>show_chart</mat-icon>
  </div>
  <div class="chart-header-actions">
    <app-event-card-chart-actions [(xAxisType)]="xAxisType" [(showAllData)]="showAllData" [(showLaps)]="showLaps"
      [(stackYAxes)]="stackYAxes" [event]="event" [user]="user">
    </app-event-card-chart-actions>
  </div>
</div>
<mat-card-content style="position: relative; min-height: 90vh;">
  <app-loading-overlay [isLoading]="isLoading" height="auto">
    <!-- @todo should be different per orientation etc -->
    <div #chartDiv [style.opacity]="isLoading ? 0 : 1"
      style="min-width: 280px; width: 100%; min-height: 90vh; height: 90vh"></div>
    <div #legendDiv style="min-width: 280px; width: 100%; min-height: auto;"></div>
  </app-loading-overlay>

</mat-card-content>