@use '../../../../styles/breakpoints' as *;

.chart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    gap: 16px;
    flex-wrap: wrap;

    @include xsmall {
        padding: 8px;
        gap: 8px;
    }
}

.chart-header-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-header-actions {
    flex: 1;

    @include xsmall {
        width: 100%;
        flex: none;
    }
}

/* Ensure the component inside expands to fill the flex space */
app-event-card-chart-actions {
    display: block;
    width: 100%;
}