name: Reusable Testing Workflow

on:
  workflow_call:

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Firebase Tools
        run: npm install -g firebase-tools

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Install and test functions
        run: |
          cd functions
          npm ci
          npm run lint
          npm run test
          npm run build
          cd ..

      - name: Install dependencies
        run: npm ci

      - name: Run lint
        run: npm run lint

      - name: Run firestore rules tests
        run: npm run test:rules

      - name: Run app tests
        run: npm run test
