@if (tiles.length) {
<section class="pie">
  <mat-grid-list [cols]="numberOfCols" [rowHeight]="rowHeight" [gutterSize]="'1em'">
    @for (tile of tiles; track trackByTile($index, tile)) {
    <mat-grid-tile [colspan]="tile.size.columns > numberOfCols ? numberOfCols : tile.size.columns"
      [rowspan]="tile.size.rows">
      <!--      [rowspan]="(tile.size.rows >= tiles.length/numberOfCols) ? tiles.length/numberOfCols : tile.size.rows">-->
      @if (tile.type === tileTypes.Chart) {
      <app-tile-chart class="glass-card" [user]="user" [type]="tile.type" [chartType]="getChartTile(tile).chartType"
        [isLoading]="isLoading" [data]="getChartTile(tile).data" [showActions]="showActions" [chartTheme]="chartTheme"
        [dataType]="getChartTile(tile).dataType" [dataValueType]="getChartTile(tile).dataValueType"
        [dataCategoryType]="getChartTile(tile).dataCategoryType" [dataTimeInterval]="getChartTile(tile).timeInterval"
        [size]="tile.size" [order]="tile.order"></app-tile-chart>
      }
      @if (tile.type === tileTypes.Map) {
      <app-tile-map class="glass-card" [user]="user" [type]="tile.type" [isLoading]="isLoading"
        [showActions]="showActions" [events]="getMapTile(tile).events" [mapTheme]="getMapTile(tile).mapTheme"
        [mapType]="getMapTile(tile).mapType" [clusterMarkers]="getMapTile(tile).clusterMarkers" [size]="tile.size"
        [order]="tile.order"></app-tile-map>
      }
    </mat-grid-tile>
    }
  </mat-grid-list>
</section>
}